<template>
	<header class="site-header">
		<div class="wrapper-container">
			<div class="container-navbar">
				<div class="upper-navbar desktop-only-header">
					<a href="">
						<div class="language">
							<p>Jadi Mitra KemahAja</p>
							<svg
								width="23"
								height="22"
								viewBox="0 0 23 22"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M16.0517 6.59999C16.0517 6.29624 15.8054 6.04999 15.5017 6.04999L10.5517 6.04999C10.2479 6.04999 10.0017 6.29624 10.0017 6.59999C10.0017 6.90375 10.2479 7.14999 10.5517 7.14999H14.9517V11.55C14.9517 11.8538 15.1979 12.1 15.5017 12.1C15.8054 12.1 16.0517 11.8538 16.0517 11.55L16.0517 6.59999ZM7.09057 15.7889L15.8906 6.9889L15.1128 6.21109L6.31275 15.0111L7.09057 15.7889Z"
									fill="#6E6E6E"
								/>
							</svg>
						</div>
					</a>
					<div class="divider-vertical"></div>
					<div class="language">
						<svg
							width="20"
							height="20"
							viewBox="0 0 20 20"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_2275_1211)">
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M10.1185 0.0508475C15.5931 0.0847458 20.0168 4.52542 20.0168 10C20.0168 15.4746 15.5931 19.9153 10.1185 19.9492L10.0507 20L9.98292 19.9492C4.52529 19.9153 0.101562 15.4746 0.101562 10C0.101562 4.52542 4.52529 0.0847458 9.99987 0.0508475L10.0507 0L10.1185 0.0508475ZM1.98292 7.57627C1.74563 8.33898 1.62699 9.15254 1.62699 10C1.62699 10.8475 1.74563 11.661 1.98292 12.4237H5.3219C5.15241 11.6441 5.06766 10.8475 5.06766 10.0508C5.06766 9.22034 5.16936 8.38983 5.3558 7.57627H1.98292ZM6.76258 7.57627C6.57614 8.40678 6.47444 9.23729 6.47444 10.0508C6.47444 10.8475 6.57614 11.6441 6.74563 12.4237H13.3558C13.5422 11.6271 13.627 10.8305 13.627 10.0508C13.627 9.23729 13.5253 8.38983 13.3389 7.57627H6.76258ZM14.7795 7.57627C14.966 8.40678 15.0677 9.23729 15.0677 10.0508C15.0677 10.8475 14.9829 11.6441 14.8134 12.4237H18.1524C18.3897 11.661 18.5083 10.8305 18.5083 10C18.5083 9.15254 18.3897 8.33898 18.1524 7.57627H14.7795ZM17.7117 6.49153C16.61 4.10169 14.4405 2.32203 11.8134 1.76271C13.0168 3.18644 13.9321 4.81356 14.4744 6.49153H17.7117ZM13.0338 6.49153C12.4405 4.71186 11.4236 3 10.0507 1.62712C8.69478 3 7.66088 4.71186 7.06766 6.49153H13.0338ZM5.62699 6.49153C6.16936 4.81356 7.06766 3.18644 8.288 1.76271C5.66088 2.32203 3.49139 4.10169 2.3897 6.49153H5.62699ZM2.3897 13.5085C3.47444 15.8814 5.64394 17.678 8.27105 18.2373C7.05072 16.8136 6.13546 15.1864 5.59309 13.5085H2.3897ZM7.05072 13.5085C7.64394 15.2881 8.67783 16.9831 10.0507 18.3729C11.4236 16.9831 12.4575 15.2881 13.0507 13.5085H7.05072ZM14.5083 13.5085C13.966 15.1864 13.0677 16.8136 11.8304 18.2373C14.4575 17.678 16.627 15.8983 17.7117 13.5085H14.5083Z"
									fill="#3D3D3D"
								/>
							</g>
							<defs>
								<clipPath id="clip0_2275_1211">
									<rect
										width="19.8983"
										height="20"
										fill="white"
										transform="translate(0.101562)"
									/>
								</clipPath>
							</defs>
						</svg>

						<select name="language" id="language">
							<option value="id">ID</option>
							<option value="id">EN</option>
						</select>
					</div>

					<!-- code svg buat reminder error -->
					<i class="bzi-bell" style="font-size: 20px"></i>
					<i class="bzi-bx_envelope" style="font-size: 20px"></i>
				</div>
				<div class="lower-navbar">
					<div class="logo">
						<Logo />
					</div>

					<div class="right-container desktop-only-header">
						<div v-for="(nav, i) in headerNav" :key="i">
							<nuxt-link header-link :to="nav.url">{{ nav.title }}</nuxt-link>
						</div>

						<button class="btn primary">Login</button>
						<!-- <button>
							<i class="bzi-bars"></i>
						</button> -->
					</div>
				</div>
				<div class="header-bars-wrapper" @click="callParentFunction">
					<font-awesome-icon
						v-if="isNavbarOpenedProps"
						:icon="['fas', 'xmark']"
					/>
					<div v-else class="hamburger-bars">
						<font-awesome-icon :icon="['fas', 'bars']" />
						<div class="overlap"></div>
					</div>
				</div>
			</div>

			<div
				class="sidebar mobile-only-header"
				:class="{ isActive: isNavbarOpenedProps }"
			>
				<div v-for="(nav, i) in headerNav" :key="i">
					<nuxt-link header-link :to="nav.url">{{ nav.title }}</nuxt-link>
				</div>

				<button class="btn bz-white">Login</button>

				<a href="">
					<div class="language">
						<p>Jadi Mitra KemahAja</p>
						<svg
							width="23"
							height="22"
							viewBox="0 0 23 22"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M16.0517 6.59999C16.0517 6.29624 15.8054 6.04999 15.5017 6.04999L10.5517 6.04999C10.2479 6.04999 10.0017 6.29624 10.0017 6.59999C10.0017 6.90375 10.2479 7.14999 10.5517 7.14999H14.9517V11.55C14.9517 11.8538 15.1979 12.1 15.5017 12.1C15.8054 12.1 16.0517 11.8538 16.0517 11.55L16.0517 6.59999ZM7.09057 15.7889L15.8906 6.9889L15.1128 6.21109L6.31275 15.0111L7.09057 15.7889Z"
								fill="#6E6E6E"
							/>
						</svg>
					</div>
				</a>
				<div class="divider-vertical"></div>
				<div class="language">
					<svg
						width="20"
						height="20"
						viewBox="0 0 20 20"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g clip-path="url(#clip0_2275_1211)">
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M10.1185 0.0508475C15.5931 0.0847458 20.0168 4.52542 20.0168 10C20.0168 15.4746 15.5931 19.9153 10.1185 19.9492L10.0507 20L9.98292 19.9492C4.52529 19.9153 0.101562 15.4746 0.101562 10C0.101562 4.52542 4.52529 0.0847458 9.99987 0.0508475L10.0507 0L10.1185 0.0508475ZM1.98292 7.57627C1.74563 8.33898 1.62699 9.15254 1.62699 10C1.62699 10.8475 1.74563 11.661 1.98292 12.4237H5.3219C5.15241 11.6441 5.06766 10.8475 5.06766 10.0508C5.06766 9.22034 5.16936 8.38983 5.3558 7.57627H1.98292ZM6.76258 7.57627C6.57614 8.40678 6.47444 9.23729 6.47444 10.0508C6.47444 10.8475 6.57614 11.6441 6.74563 12.4237H13.3558C13.5422 11.6271 13.627 10.8305 13.627 10.0508C13.627 9.23729 13.5253 8.38983 13.3389 7.57627H6.76258ZM14.7795 7.57627C14.966 8.40678 15.0677 9.23729 15.0677 10.0508C15.0677 10.8475 14.9829 11.6441 14.8134 12.4237H18.1524C18.3897 11.661 18.5083 10.8305 18.5083 10C18.5083 9.15254 18.3897 8.33898 18.1524 7.57627H14.7795ZM17.7117 6.49153C16.61 4.10169 14.4405 2.32203 11.8134 1.76271C13.0168 3.18644 13.9321 4.81356 14.4744 6.49153H17.7117ZM13.0338 6.49153C12.4405 4.71186 11.4236 3 10.0507 1.62712C8.69478 3 7.66088 4.71186 7.06766 6.49153H13.0338ZM5.62699 6.49153C6.16936 4.81356 7.06766 3.18644 8.288 1.76271C5.66088 2.32203 3.49139 4.10169 2.3897 6.49153H5.62699ZM2.3897 13.5085C3.47444 15.8814 5.64394 17.678 8.27105 18.2373C7.05072 16.8136 6.13546 15.1864 5.59309 13.5085H2.3897ZM7.05072 13.5085C7.64394 15.2881 8.67783 16.9831 10.0507 18.3729C11.4236 16.9831 12.4575 15.2881 13.0507 13.5085H7.05072ZM14.5083 13.5085C13.966 15.1864 13.0677 16.8136 11.8304 18.2373C14.4575 17.678 16.627 15.8983 17.7117 13.5085H14.5083Z"
								fill="#3D3D3D"
							/>
						</g>
						<defs>
							<clipPath id="clip0_2275_1211">
								<rect
									width="19.8983"
									height="20"
									fill="white"
									transform="translate(0.101562)"
								/>
							</clipPath>
						</defs>
					</svg>
					<select name="language" id="language">
						<option value="id">ID</option>
						<option value="id">EN</option>
					</select>
				</div>

				<!-- code svg buat reminder error -->

				<svg
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M20 4H4C2.897 4 2 4.897 2 6V18C2 19.103 2.897 20 4 20H20C21.103 20 22 19.103 22 18V6C22 4.897 21.103 4 20 4ZM20 6V6.511L12 12.734L4 6.512V6H20ZM4 18V9.044L11.386 14.789C11.5611 14.9265 11.7773 15.0013 12 15.0013C12.2227 15.0013 12.4389 14.9265 12.614 14.789L20 9.044L20.002 18H4Z"
						fill="#3D3D3D"
					/>
				</svg>
			</div>
		</div>

		<div v-if="isFilterOnProps" class="wrapper-filter">
			<div class="container-filter">
				<div class="searchbar">
					<label for="search"><i class="bzi-search"></i></label>
					<input
						class="search"
						id="search"
						type="text"
						placeholder="Bumi Perkemahan Ledok Ombo"
					/>
				</div>

				<div class="wrapper-outside-searchbar">
					<div class="flex" style="height: 100%">
						<DatePickerCustom :isLeftSide="true" />
						<DatePickerCustom />
					</div>
					<div class="flex selection" style="height: 100%">
						<div class="dropdown-selection">
							<label for="count"><i class="bzi-people"></i></label>
							<select name="count" id="count">
								<option value="id">1 Dewasa</option>
								<option value="id">2 Dewasa</option>
								<option value="id">3 Dewasa</option>
							</select>
						</div>
						<button class="btn primary btn--large">Update</button>
					</div>
				</div>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	name: 'AppHeader',
	props: {
		openNavbar: Function,
		isNavbarOpenedProps: Boolean,
		isFilterOnProps: Boolean
	},
	data() {
		return {
			headerNav: [],
			selectedDate: null
		}
	},

	methods: {
		callParentFunction() {
			this.openNavbar(!this.isNavbarOpenedProps)
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/side-menus.json`)
			.then(res => {
				this.headerNav = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>

<style lang="scss">
.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	position: fixed;
	margin: auto;
	z-index: 3;

	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 3px 4px rgba($black, 0.15);
	color: white;
	background-color: white;

	.header-bars-wrapper {
		height: 100%;
		position: absolute;
		right: 0;
		aspect-ratio: 1/1;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		@media #{$medium} {
			display: none;
		}
		.hamburger-bars {
			position: relative;
			.overlap {
				position: absolute;
				// background-color: red;
				width: 100%;
				height: 100%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		svg {
			color: $primary;
			width: 26px;
			height: 26px;
		}
	}

	.wrapper-container {
		display: flex;
		flex-direction: column;
		width: $screensize;
		padding-block: 4px;
		margin: auto;
		position: relative;
		.sidebar {
			&.mobile-only-header {
				@media #{$medium} {
					display: none;
				}
			}
			// mobile only
			position: absolute;
			top: 100%;
			right: -100vw;
			transition: 0.8s all ease;

			.language {
				display: flex;
				align-items: center;
				gap: 10px;
			}
			svg {
				filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(275deg)
					brightness(106%) contrast(101%);
			}
			&.isActive {
				right: 0;
			}
			width: 100vw;
			margin-inline: -5vw;
			padding-block: 20px;
			gap: 10px;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			background-color: $primary;
			p,
			a {
				font-size: 20px;
				color: white;
			}
		}
		.container-navbar {
			display: flex;
			flex-direction: column;
			height: 68px;
			width: 100%;
			align-items: center;
			position: relative;
			justify-content: center;
			@media #{$medium} {
				justify-content: space-between;
			}
			.upper-navbar {
				height: 24px;
				display: flex;
				width: 100%;
				gap: 20px;
				justify-content: right;
				align-items: center;
				color: $text-color;
				&.desktop-only-header {
					display: none;
					@media #{$medium} {
						display: flex;
					}
				}
				.divider-vertical {
					display: flex;
					height: 100%;
					width: 1.5px;
					background-color: #cfcfcf;
				}
				.language {
					display: flex;
					align-items: center;
					gap: 5px;
					select {
						border: none !important;
					}
				}
			}
			.lower-navbar {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 36px;
				width: 100%;

				.logo img {
					height: 15px;
				}
				.right-container {
					justify-content: space-between;
					align-items: center;
					gap: 40px;
					&.desktop-only-header {
						display: none;
						@media #{$medium} {
							display: flex;
						}
					}
				}
			}
		}
	}
	.wrapper-filter {
		display: flex;
		width: 100%;
		background-color: #f1dab3;
		padding-block: 5px;
		.container-filter {
			display: flex;
			width: $screensize;
			margin: auto;
			// justify-content: space-between;
			gap: 5px;
			flex-direction: column;
			align-items: center;
			height: 140px;
			@media #{$medium} {
				height: 106px;

				@media #{$large} {
					flex-direction: row;
					height: 48px;
					gap: 10px;
				}
			}
			.searchbar {
				background-color: white;
				color: #6e6e6e;
				border: 1px solid lightgrey;
				display: flex;
				align-items: center;
				width: 100%;
				border-radius: 8px;
				overflow: hidden;
				height: 50%;
				@media #{$medium} {
					height: 100%;
				}
				.search {
					flex: 1;
					border: none;
					height: 100%;
				}
				.bzi-search {
					padding-inline: 15px;
				}
			}
			.wrapper-outside-searchbar {
				display: flex;
				flex-direction: column;
				gap: inherit;
				align-items: center;
				height: 100%;
				width: 100%;
				.dropdown-selection {
					height: 100%;
					flex: 1;
					background-color: white;
					color: #6e6e6e;
					display: flex;
					align-items: center;
					padding-right: 10px;
					border-radius: 8px;
					border: 1px solid lightgrey;
					select {
						height: 100%;
						width: 100%;
						border: none;
					}
					.bzi-people {
						padding-inline: 15px;
					}
				}
				.flex {
					width: 100%;
					&.selection {
						gap: inherit;
					}
				}
				.btn--large {
					height: 100%;
					flex: 1;
				}
				@media #{$medium} {
					flex-direction: row;
					.dropdown-selection {
						min-width: 200px;
					}
					.flex {
						flex-direction: row;
					}
				}
			}
		}
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}
}
</style>
