<template>
	<div class="site-search">
		<input type="text" class="form-input" placeholder="Cari Campaign" />
	</div>
</template>

<script>
export default {
	name: 'SiteSearch'
}
</script>

<style lang="scss"></style>
