<template>
	<div>
		<section class="hero">
			<BreadCrumbs />
			<h4>Bumi Perkemahan Ledok Ombo</h4>
			<div class="twi-wrapper">
				<div class="text-with-icon">
					<svg
						width="20"
						height="20"
						viewBox="0 0 20 20"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M9.99967 10C10.458 10 10.8505 9.83666 11.1772 9.51C11.5038 9.18333 11.6669 8.79111 11.6663 8.33333C11.6663 7.875 11.503 7.4825 11.1763 7.15583C10.8497 6.82916 10.4575 6.66611 9.99967 6.66666C9.54134 6.66666 9.14884 6.83 8.82217 7.15666C8.49551 7.48333 8.33245 7.87555 8.33301 8.33333C8.33301 8.79166 8.49634 9.18416 8.82301 9.51083C9.14967 9.8375 9.5419 10.0006 9.99967 10ZM9.99967 16.125C11.6941 14.5694 12.9511 13.1561 13.7705 11.885C14.59 10.6139 14.9997 9.48555 14.9997 8.5C14.9997 6.98611 14.5169 5.74666 13.5513 4.78166C12.5858 3.81666 11.4019 3.33389 9.99967 3.33333C8.5969 3.33333 7.41273 3.81611 6.44717 4.78166C5.48162 5.74722 4.99912 6.98666 4.99967 8.5C4.99967 9.48611 5.4094 10.6147 6.22884 11.8858C7.04829 13.1569 8.30523 14.57 9.99967 16.125ZM9.99967 18.0208C9.88856 18.0208 9.77745 18 9.66634 17.9583C9.55523 17.9167 9.45801 17.8611 9.37467 17.7917C7.3469 16 5.83301 14.3367 4.83301 12.8017C3.83301 11.2667 3.33301 9.83278 3.33301 8.5C3.33301 6.41666 4.00329 4.75694 5.34384 3.52083C6.6844 2.28472 8.23634 1.66666 9.99967 1.66666C11.7636 1.66666 13.3158 2.28472 14.6563 3.52083C15.9969 4.75694 16.6669 6.41666 16.6663 8.5C16.6663 9.83333 16.1663 11.2675 15.1663 12.8025C14.1663 14.3375 12.6525 16.0006 10.6247 17.7917C10.5413 17.8611 10.4441 17.9167 10.333 17.9583C10.2219 18 10.1108 18.0208 9.99967 18.0208Z"
							fill="#064635"
						/>
					</svg>

					<p>Dusun III, Ledok Ombo, Malang, Jawa Timur</p>
				</div>
				<div class="text-with-icon">
					<svg
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M13.1848 6.2856C13.0864 6.4368 12.9868 6.5832 12.8908 6.7224C12.7902 6.8729 12.6531 6.99549 12.4923 7.07875C12.3315 7.162 12.1523 7.20322 11.9713 7.19854C11.7903 7.19387 11.6134 7.14347 11.4572 7.05203C11.3009 6.96059 11.1703 6.8311 11.0776 6.6756C10.9824 6.53669 10.8888 6.39668 10.7968 6.2556C10.1968 5.3424 9.60039 4.2624 9.60039 3.6C9.60039 2.96348 9.85325 2.35303 10.3033 1.90294C10.7534 1.45285 11.3639 1.2 12.0004 1.2C12.6369 1.2 13.2474 1.45285 13.6974 1.90294C14.1475 2.35303 14.4004 2.96348 14.4004 3.6C14.4004 4.2612 13.8028 5.34 13.2052 6.2568L13.1848 6.2856ZM13.2004 3.6C13.2004 3.28174 13.074 2.97651 12.8489 2.75147C12.6239 2.52643 12.3187 2.4 12.0004 2.4C11.6821 2.4 11.3769 2.52643 11.1519 2.75147C10.9268 2.97651 10.8004 3.28174 10.8004 3.6C10.8004 3.91826 10.9268 4.22348 11.1519 4.44852C11.3769 4.67357 11.6821 4.8 12.0004 4.8C12.3187 4.8 12.6239 4.67357 12.8489 4.44852C13.074 4.22348 13.2004 3.91826 13.2004 3.6ZM10.1224 7.404C10.0182 7.25361 9.91579 7.102 9.81519 6.9492L3.38919 13.7184C2.75409 14.3876 2.40014 15.275 2.40039 16.1976V18C2.40039 18.6365 2.65325 19.247 3.10333 19.6971C3.55342 20.1471 4.16387 20.4 4.80039 20.4H19.2004C19.8369 20.4 20.4474 20.1471 20.8974 19.6971C21.3475 19.247 21.6004 18.6365 21.6004 18V16.1976C21.6006 15.275 21.2467 14.3876 20.6116 13.7184L14.1856 6.9504C14.0812 7.1088 13.978 7.2612 13.8784 7.404C13.7464 7.596 13.594 7.758 13.4272 7.8936L16.1488 10.7616C14.6308 10.8516 13.3912 11.4132 12.3136 11.9016C12.0232 12.0336 11.7436 12.1596 11.4736 12.27C10.6816 12.594 9.95679 12.798 9.17439 12.7416C8.50599 12.6936 7.74399 12.4536 6.82239 11.8452L10.5724 7.8936C10.3994 7.75276 10.2487 7.58789 10.1224 7.404ZM5.98479 12.7284C7.11279 13.5072 8.12439 13.8708 9.08919 13.9392C10.144 14.0148 11.0692 13.7316 11.9272 13.38C12.2596 13.2444 12.5812 13.1004 12.8992 12.9588C14.2552 12.3504 15.5404 11.7744 17.32 11.994L19.7416 14.5452C20.1647 14.9913 20.4006 15.5827 20.4004 16.1976V18C20.4004 18.3183 20.274 18.6235 20.0489 18.8485C19.8239 19.0736 19.5187 19.2 19.2004 19.2H4.80039C4.48213 19.2 4.17691 19.0736 3.95186 18.8485C3.72682 18.6235 3.60039 18.3183 3.60039 18V16.1976C3.60054 15.5826 3.8368 14.9911 4.26039 14.5452L5.98479 12.7284Z"
							fill="#064635"
						/>
					</svg>

					<p>870 mdpl</p>
				</div>
			</div>
			<div class="twi-wrapper">
				<div class="text-with-icon">
					<svg
						width="15"
						height="16"
						viewBox="0 0 15 16"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g clip-path="url(#clip0_1398_9833)">
							<path
								d="M7.75329 12.7978L7.49963 12.6484L7.24597 12.7978L3.61042 14.938L3.61035 14.9379L3.60003 14.9443C3.52312 14.9922 3.46104 15.0039 3.40094 14.999C3.31437 14.9919 3.25343 14.9664 3.203 14.928C3.13474 14.8762 3.08259 14.8129 3.04347 14.7324C3.02784 14.7003 3.01548 14.653 3.03652 14.564C3.03654 14.564 3.03655 14.5639 3.03657 14.5638L4.00006 10.5194L4.07138 10.22L3.83622 10.0215L0.621205 7.30704C0.544696 7.23884 0.51898 7.18297 0.509209 7.13862C0.493442 7.06704 0.498021 7.00436 0.522127 6.93892C0.553598 6.85456 0.594655 6.79952 0.641087 6.75981C0.66378 6.74041 0.72219 6.70426 0.855199 6.68411L5.08939 6.32151L5.38744 6.29599L5.50587 6.0213L7.14844 2.21163L7.14844 2.21163L7.14923 2.20977C7.18147 2.13416 7.22178 2.09349 7.27262 2.06516C7.35933 2.01683 7.43305 2 7.49963 2C7.56705 2 7.64049 2.01696 7.72592 2.06476C7.77658 2.0931 7.81756 2.13424 7.85059 2.21109L7.85082 2.21163L9.49338 6.0213L9.61182 6.29599L9.90986 6.32151L14.1441 6.68411C14.2771 6.70426 14.3355 6.74041 14.3582 6.75982C14.4047 6.7996 14.4458 6.85478 14.4773 6.93942C14.502 7.00576 14.5066 7.06851 14.4909 7.13947C14.4813 7.18311 14.4559 7.23844 14.379 7.30627L11.163 10.0215L10.9279 10.22L10.9992 10.5194L11.9626 14.5635C11.9626 14.5636 11.9627 14.5637 11.9627 14.5639C11.9839 14.6538 11.9713 14.7014 11.9558 14.7333C11.9168 14.8135 11.865 14.8761 11.7973 14.9272L11.7963 14.928C11.7458 14.9664 11.6849 14.9919 11.5983 14.999C11.5382 15.0039 11.4761 14.9922 11.3992 14.9443L11.3993 14.9442L11.3888 14.938L7.75329 12.7978Z"
								fill="#F0BB62"
								stroke="#F0BB62"
							/>
						</g>
						<defs>
							<clipPath id="clip0_1398_9833">
								<rect
									width="15"
									height="15"
									fill="white"
									transform="translate(0 0.5)"
								/>
							</clipPath>
						</defs>
					</svg>

					<p>4.0 / 5 (100+ Ulasan)</p>
				</div>
				<div class="text-with-icon">
					<svg
						width="16"
						height="14"
						viewBox="0 0 16 14"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M14.8571 4.26562C14.8571 3.77344 14.7932 3.33898 14.6652 2.96224C14.5372 2.5855 14.3735 2.28624 14.1741 2.06445C13.9747 1.84266 13.7321 1.66189 13.4464 1.52214C13.1607 1.38238 12.881 1.28819 12.6071 1.23958C12.3333 1.19097 12.0417 1.16667 11.7321 1.16667C11.4226 1.16667 11.0893 1.24414 10.7321 1.39909C10.375 1.55404 10.0461 1.74848 9.74554 1.98242C9.44494 2.21636 9.1875 2.43511 8.97322 2.63867C8.75893 2.84223 8.58036 3.02908 8.4375 3.19922C8.33036 3.3329 8.18452 3.39974 8 3.39974C7.81548 3.39974 7.66964 3.3329 7.5625 3.19922C7.41964 3.02908 7.24107 2.84223 7.02679 2.63867C6.8125 2.43511 6.55506 2.21636 6.25446 1.98242C5.95387 1.74848 5.625 1.55404 5.26786 1.39909C4.91071 1.24414 4.57738 1.16667 4.26786 1.16667C3.95833 1.16667 3.66667 1.19097 3.39286 1.23958C3.11905 1.28819 2.83929 1.38238 2.55357 1.52214C2.26786 1.66189 2.0253 1.84266 1.82589 2.06445C1.62649 2.28624 1.4628 2.5855 1.33482 2.96224C1.20685 3.33898 1.14286 3.77344 1.14286 4.26562C1.14286 5.28646 1.6994 6.36502 2.8125 7.5013L8 12.6055L13.1786 7.51042C14.2976 6.36806 14.8571 5.28646 14.8571 4.26562ZM16 4.26562C16 5.60851 15.3185 6.9757 13.9554 8.36719L8.39286 13.8359C8.28571 13.9453 8.15476 14 8 14C7.84524 14 7.71429 13.9453 7.60714 13.8359L2.03571 8.34896C1.97619 8.30035 1.89435 8.22135 1.79018 8.11198C1.68601 8.0026 1.52083 7.8036 1.29464 7.51497C1.06845 7.22635 0.866071 6.93012 0.6875 6.6263C0.508929 6.32248 0.349702 5.95486 0.209821 5.52344C0.0699405 5.09201 0 4.67274 0 4.26562C0 2.92882 0.377976 1.88368 1.13393 1.13021C1.88988 0.376736 2.93452 0 4.26786 0C4.63691 0 5.01339 0.0653212 5.39732 0.195964C5.78125 0.326606 6.13839 0.502821 6.46875 0.724609C6.79911 0.946398 7.08333 1.15451 7.32143 1.34896C7.55952 1.5434 7.78571 1.75 8 1.96875C8.21429 1.75 8.44048 1.5434 8.67857 1.34896C8.91667 1.15451 9.20089 0.946398 9.53125 0.724609C9.86161 0.502821 10.2188 0.326606 10.6027 0.195964C10.9866 0.0653212 11.3631 0 11.7321 0C13.0655 0 14.1101 0.376736 14.8661 1.13021C15.622 1.88368 16 2.92882 16 4.26562Z"
							fill="#3D3D3D"
						/>
					</svg>

					<p>Direkomendasikan oleh 95% camper</p>
				</div>
			</div>
			<div class="image-container">
				<div class="favourite-btn">
					<svg
						width="24"
						height="21"
						viewBox="0 0 24 21"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M22.2857 6.26786C22.2857 5.54464 22.1897 4.90625 21.9978 4.35268C21.8058 3.79911 21.5603 3.35938 21.2612 3.03348C20.9621 2.70759 20.5982 2.44196 20.1696 2.23661C19.7411 2.03125 19.3214 1.89286 18.9107 1.82143C18.5 1.75 18.0625 1.71429 17.5982 1.71429C17.1339 1.71429 16.6339 1.82812 16.0982 2.0558C15.5625 2.28348 15.0692 2.5692 14.6183 2.91295C14.1674 3.2567 13.7812 3.57812 13.4598 3.87723C13.1384 4.17634 12.8705 4.45089 12.6562 4.70089C12.4955 4.89732 12.2768 4.99554 12 4.99554C11.7232 4.99554 11.5045 4.89732 11.3438 4.70089C11.1295 4.45089 10.8616 4.17634 10.5402 3.87723C10.2188 3.57812 9.83259 3.2567 9.3817 2.91295C8.9308 2.5692 8.4375 2.28348 7.90179 2.0558C7.36607 1.82812 6.86607 1.71429 6.40179 1.71429C5.9375 1.71429 5.5 1.75 5.08929 1.82143C4.67857 1.89286 4.25893 2.03125 3.83036 2.23661C3.40179 2.44196 3.03795 2.70759 2.73884 3.03348C2.43973 3.35938 2.1942 3.79911 2.00223 4.35268C1.81027 4.90625 1.71429 5.54464 1.71429 6.26786C1.71429 7.76786 2.54911 9.35268 4.21875 11.0223L12 18.5223L19.7679 11.0357C21.4464 9.35714 22.2857 7.76786 22.2857 6.26786ZM24 6.26786C24 8.24107 22.9777 10.25 20.933 12.2946L12.5893 20.3304C12.4286 20.4911 12.2321 20.5714 12 20.5714C11.7679 20.5714 11.5714 20.4911 11.4107 20.3304L3.05357 12.2679C2.96429 12.1964 2.84152 12.0804 2.68527 11.9196C2.52902 11.7589 2.28125 11.4665 1.94196 11.0424C1.60268 10.6183 1.29911 10.183 1.03125 9.73661C0.763393 9.29018 0.524554 8.75 0.314732 8.11607C0.104911 7.48214 0 6.86607 0 6.26786C0 4.30357 0.566964 2.76786 1.70089 1.66071C2.83482 0.553571 4.40179 0 6.40179 0C6.95536 0 7.52009 0.0959821 8.09598 0.287946C8.67188 0.479911 9.20759 0.738839 9.70312 1.06473C10.1987 1.39062 10.625 1.69643 10.9821 1.98214C11.3393 2.26786 11.6786 2.57143 12 2.89286C12.3214 2.57143 12.6607 2.26786 13.0179 1.98214C13.375 1.69643 13.8013 1.39062 14.2969 1.06473C14.7924 0.738839 15.3281 0.479911 15.904 0.287946C16.4799 0.0959821 17.0446 0 17.5982 0C19.5982 0 21.1652 0.553571 22.2991 1.66071C23.433 2.76786 24 4.30357 24 6.26786Z"
							fill="white"
						/>
					</svg>
				</div>
				<div class="see-all-btn">
					<p>Lihat Semua Foto</p>
				</div>
				<div class="tenda1">
					<img src="~assets/img/tenda1.png" alt="" width="" />
				</div>
				<div class="tenda2">
					<img src="~assets/img/tenda2.png" alt="" width="" />
				</div>
				<div class="tenda3">
					<img src="~assets/img/poncokusumo.png" alt="" width="" />
				</div>
			</div>
			<p>
				Saksikan matahari terbit dan terbenam di balik pegunungan, melihat
				hamparan bunga edelweis yang menakjubkan, dan mendengarkan alunan riak
				air yang jernih dari sungai yang mengalir hanya 30 menit dari pusat Kota
				Malang.
			</p>
			<a href="">Lihat Semua <i class="bzi-angle-right"></i></a>
			<br />
			<p>View</p>
			<div class="flex">
				<CampingChip :isActiveProps="false" />
				<CampingChip :isActiveProps="true" />
				<CampingChip :isActiveProps="false" />
			</div>
		</section>
		<section class="fasilitas">
			<h6>Fasilitas</h6>
			<div class="wrapper-container-fasilitas">
				<div class="container-fasilitas">
					<h9>Fasilitas Perkemahan</h9>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Tenda</p>
					</div>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Kasur Lipat</p>
					</div>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Sleeping Bag</p>
					</div>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Bantal</p>
					</div>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Selimut</p>
					</div>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Meja dan Kursi</p>
					</div>
				</div>
				<div class="container-fasilitas">
					<h9>Fasilitas Umum</h9>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Toilet dan Kamar Mandi</p>
					</div>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Tempat Parkir</p>
					</div>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Area BBQ</p>
					</div>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Penyewaan Alat Camping</p>
					</div>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Toko Oleh-oleh</p>
					</div>
					<div class="text-with-icon">
						<i class="bzi-checkmark"></i>
						<p>Resepsionis 24 Jam</p>
					</div>
				</div>
			</div>
		</section>
		<section class="lokasi">
			<h6>Lokasi</h6>
			<div class="text-with-icon">
				<svg
					width="20"
					height="20"
					viewBox="0 0 20 20"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M9.99967 10C10.458 10 10.8505 9.83666 11.1772 9.51C11.5038 9.18333 11.6669 8.79111 11.6663 8.33333C11.6663 7.875 11.503 7.4825 11.1763 7.15583C10.8497 6.82916 10.4575 6.66611 9.99967 6.66666C9.54134 6.66666 9.14884 6.83 8.82217 7.15666C8.49551 7.48333 8.33245 7.87555 8.33301 8.33333C8.33301 8.79166 8.49634 9.18416 8.82301 9.51083C9.14967 9.8375 9.5419 10.0006 9.99967 10ZM9.99967 16.125C11.6941 14.5694 12.9511 13.1561 13.7705 11.885C14.59 10.6139 14.9997 9.48555 14.9997 8.5C14.9997 6.98611 14.5169 5.74666 13.5513 4.78166C12.5858 3.81666 11.4019 3.33389 9.99967 3.33333C8.5969 3.33333 7.41273 3.81611 6.44717 4.78166C5.48162 5.74722 4.99912 6.98666 4.99967 8.5C4.99967 9.48611 5.4094 10.6147 6.22884 11.8858C7.04829 13.1569 8.30523 14.57 9.99967 16.125ZM9.99967 18.0208C9.88856 18.0208 9.77745 18 9.66634 17.9583C9.55523 17.9167 9.45801 17.8611 9.37467 17.7917C7.3469 16 5.83301 14.3367 4.83301 12.8017C3.83301 11.2667 3.33301 9.83278 3.33301 8.5C3.33301 6.41666 4.00329 4.75694 5.34384 3.52083C6.6844 2.28472 8.23634 1.66666 9.99967 1.66666C11.7636 1.66666 13.3158 2.28472 14.6563 3.52083C15.9969 4.75694 16.6669 6.41666 16.6663 8.5C16.6663 9.83333 16.1663 11.2675 15.1663 12.8025C14.1663 14.3375 12.6525 16.0006 10.6247 17.7917C10.5413 17.8611 10.4441 17.9167 10.333 17.9583C10.2219 18 10.1108 18.0208 9.99967 18.0208Z"
						fill="#064635"
					/>
				</svg>

				<p>Dusun III, Ledok Ombo, Malang, Jawa Timur</p>
			</div>
			<div class="maps">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4963.776398122434!2d112.80972737596522!3d-8.055917880483905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd63b4a00c5ca99%3A0x9af6106ef57a924b!2sBumi%20Perkemahan%20Ledok%20Ombo%2C%20Poncokusumo!5e1!3m2!1sen!2sid!4v1693486006564!5m2!1sen!2sid"
					width="100%"
					height="100%"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"
				></iframe>
			</div>
		</section>
		<section class="list-paket">
			<h6>Pilih Paket</h6>
			<CampingPaketCard />
		</section>
		<section class="ulasan-pengunjung">
			<h6>Ulasan Pengunjung</h6>
			<div class="main-container">
				<div class="left-container">
					<div class="rating-container">
						<div class="rating">
							<i class="bzi-star"></i>
							<h1>4.0</h1>
							<h7>/5.0</h7>
						</div>
						<h8>92% Pengunjung Merasa Puas</h8>
						<p>Berdasarkan <strong>150</strong> Ulasan</p>
					</div>
					<div class="rating-bar">
						<CampingRatingBar :number="5" :value="70" />
						<CampingRatingBar :number="4" :value="50" />
						<CampingRatingBar :number="3" :value="20" />
						<CampingRatingBar :number="2" :value="0" />
						<CampingRatingBar :number="1" :value="0" />
					</div>
					<div class="filter">
						<h8> Filter Ulasan </h8>
						<div class="media-ulasan">
							<p>Media</p>
							<div class="flex">
								<input type="checkbox" id="media" name="media" value="Bike" />
								<label for="media">Dengan Foto & Video</label>
							</div>
						</div>
						<div class="camper">
							<p>Camper</p>
							<div class="flex">
								<input
									type="checkbox"
									id="camper1"
									name="camper1"
									value="Bike"
								/>
								<label for="camper1">Solo Traveller</label>
							</div>
							<div class="flex">
								<input
									type="checkbox"
									id="camper2"
									name="camper2"
									value="Bike"
								/>
								<label for="camper2">Family Traveller</label>
							</div>
							<div class="flex">
								<input
									type="checkbox"
									id="camper3"
									name="camper3"
									value="Bike"
								/>
								<label for="camper3">Beginner Traveller</label>
							</div>
						</div>
						<div class="paket">
							<p>Paket</p>
							<div class="flex">
								<input type="checkbox" id="paket1" name="paket1" value="Bike" />
								<label for="paket1">Solo Traveller</label>
							</div>
							<div class="flex">
								<input type="checkbox" id="paket2" name="paket2" value="Bike" />
								<label for="paket2">Family Traveller</label>
							</div>
							<div class="flex">
								<input type="checkbox" id="paket3" name="paket3" value="Bike" />
								<label for="paket3">Beginner Traveller</label>
							</div>
						</div>
						<div class="rating">
							<div class="flex">
								<input type="checkbox" id="rate5" name="rate5" value="Bike" />
								<label for="rate5"><RateStar :rating="5" /></label>
							</div>
							<div class="flex">
								<input type="checkbox" id="rate4" name="rate4" value="Bike" />
								<label for="rate4"><RateStar :rating="4" /></label>
							</div>
							<div class="flex">
								<input type="checkbox" id="rate3" name="rate3" value="Bike" />
								<label for="rate3"><RateStar :rating="3" /></label>
							</div>
							<div class="flex">
								<input type="checkbox" id="rate2" name="rate2" value="Bike" />
								<label for="rate2"><RateStar :rating="2" /></label>
							</div>
							<div class="flex">
								<input type="checkbox" id="rate1" name="rate1" value="Bike" />
								<label for="rate1"><RateStar :rating="1" /></label>
							</div>
						</div>
					</div>
					<!-- <RateStar :rating="5" /> -->
				</div>
				<div class="right-container">
					<div v-for="i in 4" :key="i">
						<CampingReviewCard />
					</div>
				</div>
			</div>
		</section>
		<section class="faq">
			<h6 class="text-center">
				Pertanyaan Seputar Bumi Perkemahan Ledok Lombo
			</h6>
			<template v-for="(item, i) in accordionContent">
				<CampingAccordion
					:key="i"
					:heading="item.heading"
					:content="item.content"
				/>
			</template>
		</section>
		<section class="rekomendasi desktop-only">
			<h6>Camping Ground di Sekitar Sini</h6>
			<div class="wrapper-vue-carousel" style="margin-inline: 20px">
				<VueSlickCarousel :infinite="false" :slidesToShow="4">
					<template #prevArrow="arrowOption">
						<div class="custom-arrow">
							<i class="bzi-angle-right"></i>
							{{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
						</div>
					</template>
					<template #nextArrow="arrowOption">
						<div class="custom-arrow">
							<i class="bzi-angle-right"></i>
							{{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
						</div>
					</template>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
				</VueSlickCarousel>
			</div>
		</section>
		<section class="rekomendasi mobile-only">
			<h6>Camping Ground di Sekitar Sini</h6>
			<div class="wrapper-vue-carousel" style="margin-inline: 20px">
				<VueSlickCarousel :infinite="false" :slidesToShow="2">
					<template #prevArrow="arrowOption">
						<div class="custom-arrow">
							<i class="bzi-angle-right"></i>
							{{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
						</div>
					</template>
					<template #nextArrow="arrowOption">
						<div class="custom-arrow">
							<i class="bzi-angle-right"></i>
							{{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
						</div>
					</template>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
				</VueSlickCarousel>
			</div>
		</section>
		<section class="rekomendasi mobile-small-only">
			<h6>Camping Ground di Sekitar Sini</h6>
			<div class="wrapper-vue-carousel" style="margin-inline: 20px">
				<VueSlickCarousel :infinite="false" :slidesToShow="1">
					<template #prevArrow="arrowOption">
						<div class="custom-arrow">
							<i class="bzi-angle-right"></i>
							{{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
						</div>
					</template>
					<template #nextArrow="arrowOption">
						<div class="custom-arrow">
							<i class="bzi-angle-right"></i>
							{{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
						</div>
					</template>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
					<div class="carousel-items">
						<CampingGroundCardVertical />
					</div>
				</VueSlickCarousel>
			</div>
		</section>
		<DatePickerCustom />
	</div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
	components: {
		VueSlickCarousel
	},
	data() {
		return {
			accordionContent: []
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/camping-detail.json`)
			.then(res => {
				this.accordionContent = res.data.data.dummyFaq
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>

<style lang="scss" scoped>
/* Add spacing (margin) to the child elements */
.custom-arrow {
	background-color: black;
	border-radius: 50px;
}
.mobile-small-only {
	display: block !important;
	@media #{$small} {
		display: none !important;
	}
}
.mobile-only {
	display: none !important;
	@media #{$small} {
		display: block !important;
		@media #{$large} {
			display: none !important;
		}
	}
}
.carousel-items {
	padding: 4px;
	overflow: hidden;
}
.twi-wrapper {
	display: flex;
	align-items: initial;
	flex-direction: column;
	gap: 15px;
	@media #{$medium} {
		align-items: center;
		flex-direction: row;
	}
}
.text-with-icon {
	display: flex;
	align-items: center;
	gap: 5px;
}
section.hero {
	.image-container {
		.tenda1 {
			grid-area: tenda1;
			border-radius: 12px;
			overflow: hidden;
		}
		.tenda2 {
			grid-area: tenda2;
			border-radius: 12px;
			overflow: hidden;
		}
		.tenda3 {
			grid-area: tenda3;
			border-radius: 12px;
			overflow: hidden;
		}
		display: grid;
		position: relative;
		grid-gap: 10px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			'tenda1 tenda1 tenda1 tenda1'
			'tenda1 tenda1 tenda1 tenda1'
			'tenda2 tenda2 tenda3 tenda3';
		// @media #{$small} {
		// 	grid-template-columns: repeat(4, 1fr);
		// 	grid-template-rows: repeat(3, 1fr);
		// 	grid-template-areas:
		// 		'tenda1 tenda1 tenda1 tenda1'
		// 		'tenda1 tenda1 tenda1 tenda1'
		// 		'tenda2 tenda2 tenda3 tenda3';
		// }
		@media #{$medium} {
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas:
				'tenda1 tenda1 tenda1 tenda2 tenda2'
				'tenda1 tenda1 tenda1 tenda3 tenda3';
		}
		.favourite-btn {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			border-radius: 8px;
			top: 10px;
			left: 10px;
			aspect-ratio: 1/1;
			background-color: rgba($color: #b9b6b6cc, $alpha: 0.6);
			cursor: pointer;
		}
		.see-all-btn {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			background-color: rgba($color: #b9b6b6cc, $alpha: 0.6);
			padding: 8px;
			border-radius: 8px;
			bottom: 10px;
			right: 10px;
			cursor: pointer;
			p {
				font-size: 12px;
				font-weight: 600;
				color: white;
			}
		}
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			object-position: 50% 50%;
		}
	}
	.flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 5px;
		> * {
			flex-basis: 180px;
		}
	}
}
section.fasilitas {
	.wrapper-container-fasilitas {
		display: flex;
		justify-content: space-between;
		.container-fasilitas {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 10px;
		}
	}
}
section.lokasi {
	.maps {
		width: 100%;
		height: 317px;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: 0px 4px 10px 0px #000e331a;
	}
}
section.ulasan-pengunjung {
	.main-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 15px;
		.left-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			gap: 30px;
			.rating-container {
				display: flex;
				flex-direction: column;
				text-align: center;
				gap: 15px;
				h7 {
					color: $grey;
				}
				h8 {
					color: $primary;
				}
				.rating {
					display: flex;
					justify-content: center;
					align-items: flex-end;
					.bzi-star {
						color: $primaryYellow;

						font-size: clamp(60px, 0.7vw, 70px);
						margin-bottom: -7px;
						margin-right: 5px;
					}
					h1 {
						line-height: 1;
					}
				}
			}
			.rating-bar {
				display: flex;
				flex-direction: column;
				width: 100%;
				gap: 5px;
			}
			.filter {
				display: flex;
				flex-direction: column;
				border: 1px solid #cfcfcf;
				border-radius: 6px;
				width: 100%;
				> div,
				h8 {
					padding: 5px 15px;
				}
				> div {
					border-top: 1px solid #cfcfcf;
				}
				p {
					font-weight: 500;
				}
				.flex {
					input {
						width: 15px;
					}
					gap: 5px;
					color: $grey;
				}
			}
		}
		.right-container {
			width: 100%;
		}
		@media #{$medium} {
			flex-direction: row;
			.left-container {
				width: 35%;
			}
			.right-container {
				width: 65%;
			}
		}
	}
}
</style>
