<template>
	<svg
		width="27"
		height="27"
		viewBox="0 0 27 27"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g clip-path="url(#clip0_1398_10156)">
			<path
				d="M26.176 19.403C26.1123 19.3512 19.7057 13.9967 18.054 6.80833C18.0222 6.67014 17.8976 6.57227 17.7556 6.57227H8.7991C8.64842 6.57227 8.52093 6.68166 8.49775 6.82848C8.48616 6.91484 7.06054 15.3007 0.711889 19.3886L26.176 19.403ZM26.176 19.403C26.2745 19.4836 26.3122 19.6189 26.2687 19.7398L26.176 19.403ZM0.48837 19.7562L0.488543 19.7568C0.538955 19.9263 0.697073 20.0442 0.877053 20.0442H25.979C26.1526 20.0442 26.302 19.9363 26.3624 19.7749L26.3629 19.7737C26.4206 19.613 26.3707 19.4331 26.2393 19.3256L26.2391 19.3254L26.239 19.3253L26.2386 19.325L26.2372 19.3239L26.2326 19.32L26.2164 19.3064C26.2026 19.2947 26.1829 19.278 26.1577 19.2563C26.1074 19.2129 26.035 19.1496 25.9432 19.0673C25.7597 18.9028 25.4988 18.6623 25.1823 18.3526C24.5491 17.7332 23.6934 16.8372 22.7882 15.719C20.9769 13.4812 18.9725 10.3593 18.1515 6.78593L18.1515 6.78585C18.109 6.60166 17.9435 6.47227 17.7556 6.47227H8.7991C8.59941 6.47227 8.42986 6.61726 8.39897 6.81288L8.39894 6.81288L8.39864 6.81516C8.39868 6.81482 8.39841 6.81672 8.39749 6.82225L8.3939 6.84332C8.39075 6.86138 8.38611 6.88719 8.37987 6.92038C8.36739 6.98674 8.34855 7.08244 8.32247 7.2044C8.27033 7.44832 8.18932 7.79716 8.0726 8.22634C7.83913 9.08481 7.463 10.264 6.88968 11.5677C5.74242 14.1765 3.80927 17.2752 0.657961 19.3044C0.507514 19.4004 0.438356 19.5842 0.48837 19.7562ZM24.9301 19.2368H2.14449C7.18929 15.3201 8.81048 8.82323 9.13543 7.28257H17.4368C18.8695 13.0146 23.1559 17.5503 24.9301 19.2368Z"
				fill="#064635"
				stroke="#064635"
				stroke-width="0.2"
			/>
			<path
				d="M9.10062 6.81878C9.11221 6.88499 10.4393 13.6501 17.1675 19.4048C17.295 19.5142 17.3095 19.7071 17.1994 19.8338C17.1415 19.9057 17.0545 19.9432 16.9705 19.9432C16.901 19.9432 16.8285 19.9201 16.7706 19.8683C9.87138 13.9639 8.51241 7.00014 8.50082 6.93105L9.10062 6.81878ZM8.40234 6.94844C8.42365 7.06882 9.80133 14.0351 16.7047 19.9436C16.7829 20.0131 16.8796 20.0432 16.9705 20.0432C17.0825 20.0432 17.1982 19.9938 17.2761 19.898C17.4215 19.7292 17.4016 19.4739 17.2327 19.3289L17.2325 19.3288C13.8808 16.4621 11.8748 13.344 10.7053 10.935C10.1206 9.73043 9.74508 8.70336 9.51518 7.97397C9.40024 7.60928 9.32171 7.31907 9.27164 7.11835C9.2466 7.018 9.22868 6.94003 9.21687 6.88634C9.21097 6.8595 9.20661 6.83874 9.20365 6.8243L9.20027 6.8075C9.19954 6.80377 9.1992 6.80196 9.19913 6.8016C9.19912 6.80154 9.19912 6.80152 9.19912 6.80153L9.19914 6.80153L9.19878 6.79971C9.1562 6.58046 8.94418 6.4406 8.72704 6.47844L8.72704 6.47843L8.72538 6.47875C8.50595 6.52082 8.36396 6.73112 8.40234 6.94844L8.40234 6.94844Z"
				fill="#064635"
				stroke="#064635"
				stroke-width="0.2"
			/>
			<path
				d="M9.04472 13.2199C8.84937 13.2014 8.66217 13.348 8.62044 13.5402L8.62049 13.5402C8.6202 13.5415 8.61988 13.5429 8.61951 13.5445C8.57377 13.7437 7.83793 16.9489 5.25706 19.3436L5.25705 19.3436L9.0369 13.3196M9.04472 13.2199C9.04548 13.22 9.04623 13.2201 9.04699 13.2201L9.0369 13.3196M9.04472 13.2199C9.04399 13.2199 9.04325 13.2198 9.04252 13.2198L9.0369 13.3196M9.04472 13.2199C9.24637 13.2323 9.40811 13.3914 9.42059 13.5913M9.0369 13.3196C9.19047 13.3283 9.31217 13.4492 9.32087 13.5989M9.42059 13.5913C9.42053 13.5906 9.42048 13.5901 9.42044 13.5896C9.4204 13.5892 9.42038 13.589 9.42036 13.5889L9.32087 13.5989M9.42059 13.5913C9.42952 13.6869 9.70244 16.45 12.5421 19.3556M9.42059 13.5913C9.42063 13.5919 9.42067 13.5925 9.4207 13.5931L9.32087 13.5989M9.32087 13.5989L12.5421 19.3556M12.5421 19.3556C12.542 19.3556 12.542 19.3555 12.5419 19.3555L12.4706 19.4255L12.5421 19.3556ZM9.01913 15.0248C9.00189 14.9704 8.98561 14.9173 8.97026 14.8655C8.95217 14.9165 8.93326 14.9688 8.91349 15.0223C8.92912 15.0722 8.94556 15.1233 8.96285 15.1754C8.98234 15.1242 9.0011 15.074 9.01913 15.0248ZM12.4648 19.8545L12.5344 19.9263C12.5344 19.9263 12.5344 19.9263 12.5344 19.9263L12.4648 19.8545ZM5.23766 19.9143C5.23791 19.9145 5.23815 19.9148 5.2384 19.915L5.31058 19.8458L5.23696 19.9135C5.23719 19.9138 5.23743 19.914 5.23766 19.9143Z"
				fill="#064635"
				stroke="#064635"
				stroke-width="0.2"
			/>
		</g>
		<defs>
			<clipPath id="clip0_1398_10156">
				<rect
					width="25.7143"
					height="25.7143"
					fill="white"
					transform="translate(0.572266 0.572266)"
				/>
			</clipPath>
		</defs>
	</svg>
</template>

<script>
export default {
	name: 'TendaIcon'
}
</script>

<style lang="scss" scoped></style>
