<template>
	<div class="custom-code-text">
		<code class="html">
			<slot></slot>
		</code>
	</div>
</template>

<script>
export default {
	name: 'CustomCodeText'
}
</script>

<style lang="scss" scoped></style>
