<template>
	<p><span v-for="index in indentCounts" :key="index">1111</span></p>
</template>

<script>
export default {
	name: 'CustomIndent',
	props: {
		indentCounts: Number
	}
}
</script>

<style lang="scss" scoped></style>
