<template>
	<div class="wrapper-custom-datepicker">
		<date-picker
			v-model="selectedDate"
			:open="isDatepickerVisible"
			:icon-calendar="null"
			:clearable="false"
			:close="!isDatepickerVisible"
		>
			<i slot="icon-calendar"></i>
		</date-picker>
		<div
			class="da-datepicker"
			@click="toggleDatepicker"
			:class="{ leftSide: isLeftSide }"
		>
			<div class="da-icon">
				<svg
					width="24"
					height="25"
					viewBox="0 0 24 25"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M5 9.5H19V12.5H21V5.5C21 4.4 20.1 3.5 19 3.5H18V1.5H16V3.5H8V1.5H6V3.5H5C3.9 3.5 3 4.4 3 5.5V19.5C3 20.6 3.9 21.5 5 21.5H9V19.5H5V9.5ZM19 5.5V7.5H5V5.5H19ZM16 17.5H11V19.5H16V22.5L20 18.5L16 14.5V17.5ZM20 14.5V22.5H22V14.5H20Z"
						fill="#6E6E6E"
					/>
				</svg>
			</div>
			<div v-if="selectedDate != null" class="content">
				<p style="font-weight: 700">
					{{ selectedDate.getDate() }}
					{{ this.handleMonth(selectedDate.getMonth()) }}
					{{ selectedDate.getFullYear() }}
				</p>
				<p>{{ this.handleDays(selectedDate.getDay()) }}</p>
			</div>
			<p v-else>Pilih Tanggal</p>
		</div>
	</div>
</template>

<script>
import DatePicker from 'vue2-datepicker'
export default {
	components: {
		'date-picker': DatePicker
	},
	data() {
		return {
			selectedDate: null,
			isDatepickerVisible: false // Initially hidden
		}
	},
	props: {
		isLeftSide: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		name() {
			return this.data
		}
	},
	methods: {
		toggleDatepicker() {
			this.isDatepickerVisible = !this.isDatepickerVisible
		},
		handleClickOutside(event) {
			// Check if the click event occurred outside of the modal
			if (!this.$el.contains(event.target) && this.isDatepickerVisible) {
				this.toggleDatepicker()
			}
		},
		handleMonth(value) {
			switch (value + 1) {
				case 1:
					return 'Jan'
				case 2:
					return 'Feb'
				case 3:
					return 'Mar'
				case 4:
					return 'Apr'
				case 5:
					return 'Mei'
				case 6:
					return 'Jun'
				case 7:
					return 'Jul'
				case 8:
					return 'Agu'
				case 9:
					return 'Sep'
				case 10:
					return 'Okt'
				case 11:
					return 'Nov'
				case 12:
					return 'Des'
			}
		},
		handleDays(value) {
			switch (value) {
				case 1:
					return 'Senin'
				case 2:
					return 'Selasa'
				case 3:
					return 'Rabu'
				case 4:
					return 'Kamis'
				case 5:
					return 'Jumat'
				case 6:
					return 'Sabtu'
				case 7:
					return 'Minggu'
			}
		}
	},
	mounted() {
		// Add a click event listener to the entire page
		document.addEventListener('click', this.handleClickOutside)
	},
	beforeDestroy() {
		// Remove the click event listener when the component is destroyed
		document.removeEventListener('click', this.handleClickOutside)
	}
}
</script>

<style lang="scss">
@import '~vue2-datepicker/scss/index.scss';
.wrapper-custom-datepicker {
	position: relative;
	height: 100%;
	width: 180px;
	flex: 1;
	.mx-datepicker {
		width: 0;
		height: 0;
		background-color: green;
		.mx-input {
			border: none;
			box-shadow: none;
			color: white;
			width: 0;
			height: 0;
		}
	}
	.da-datepicker {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		border: 1px solid lightgrey;
		color: black;
		border-radius: 0 8px 8px 0;
		display: flex;
		align-items: center;
		gap: 5px;
		&.leftSide {
			border-radius: 8px 0 0 8px;
			border-right: none;
		}
		.da-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 10px;
		}
	}
}
</style>
