<template>
	<footer class="site-footer">
		<div class="centered-content-top">
			<Logo />
			<div class="address">
				<div class="upper-address">
					<p>Jl. Pejaten Barat II No. 3A Jakarta, Indonesia 12510</p>
				</div>
				<div class="lower-address">
					<p><a href="tel:+6282246926620">+62&nbsp;822-4692-6620</a></p>
					<p><a href="mailto:Kemahaja@gmail.com">Kemahaja@gmail.com</a></p>
				</div>
			</div>
			<div class="social-media">
				<p>Social Media</p>
				<div class="icons">
					<!-- instagram icon -->
					<svg
						width="33"
						height="32"
						viewBox="0 0 33 32"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M16.7712 11.9983C14.5677 11.9983 12.7696 13.7965 12.7696 16C12.7696 18.2035 14.5677 20.0017 16.7712 20.0017C18.9746 20.0017 20.7728 18.2035 20.7728 16C20.7728 13.7965 18.9746 11.9983 16.7712 11.9983ZM28.7731 16C28.7731 14.3429 28.7881 12.7008 28.695 11.0467C28.602 9.12536 28.1637 7.4202 26.7588 6.01525C25.3508 4.6073 23.6487 4.17201 21.7274 4.07895C20.0704 3.98588 18.4283 4.00089 16.7742 4.00089C15.1171 4.00089 13.475 3.98588 11.8209 4.07895C9.89967 4.17201 8.19455 4.6103 6.78963 6.01525C5.38171 7.42321 4.94642 9.12536 4.85336 11.0467C4.7603 12.7038 4.77531 14.3459 4.77531 16C4.77531 17.6541 4.7603 19.2992 4.85336 20.9533C4.94642 22.8746 5.38471 24.5798 6.78963 25.9847C8.19756 27.3927 9.89967 27.828 11.8209 27.9211C13.478 28.0141 15.1201 27.9991 16.7742 27.9991C18.4313 27.9991 20.0734 28.0141 21.7274 27.9211C23.6487 27.828 25.3538 27.3897 26.7588 25.9847C28.1667 24.5768 28.602 22.8746 28.695 20.9533C28.7911 19.2992 28.7731 17.6571 28.7731 16ZM16.7712 22.1572C13.3639 22.1572 10.6141 19.4073 10.6141 16C10.6141 12.5927 13.3639 9.84284 16.7712 9.84284C20.1784 9.84284 22.9282 12.5927 22.9282 16C22.9282 19.4073 20.1784 22.1572 16.7712 22.1572ZM23.1804 11.0286C22.3849 11.0286 21.7425 10.3862 21.7425 9.59067C21.7425 8.79513 22.3849 8.1527 23.1804 8.1527C23.9759 8.1527 24.6183 8.79513 24.6183 9.59067C24.6186 9.77957 24.5815 9.96667 24.5094 10.1412C24.4372 10.3158 24.3313 10.4744 24.1977 10.608C24.0641 10.7416 23.9055 10.8475 23.731 10.9197C23.5564 10.9918 23.3693 11.0289 23.1804 11.0286Z"
							fill="#064635"
						/>
					</svg>
					<!-- youtube icon -->
					<svg
						width="33"
						height="32"
						viewBox="0 0 33 32"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M13.5121 19.9011L20.9511 15.6011L13.5121 11.3011V19.9011ZM30.0814 8.67808C30.2677 9.35175 30.3967 10.2547 30.4827 11.4014C30.5831 12.5481 30.6261 13.5371 30.6261 14.3971L30.7121 15.6011C30.7121 18.7401 30.4827 21.0477 30.0814 22.5241C29.7231 23.8141 28.8917 24.6454 27.6017 25.0037C26.9281 25.1901 25.6954 25.3191 23.8034 25.4051C21.9401 25.5054 20.2344 25.5484 18.6577 25.5484L16.3787 25.6344C10.3731 25.6344 6.63208 25.4051 5.15574 25.0037C3.86574 24.6454 3.03441 23.8141 2.67608 22.5241C2.48974 21.8504 2.36074 20.9474 2.27474 19.8007C2.17441 18.6541 2.13141 17.6651 2.13141 16.8051L2.04541 15.6011C2.04541 12.4621 2.27474 10.1544 2.67608 8.67808C3.03441 7.38808 3.86574 6.55675 5.15574 6.19842C5.82941 6.01208 7.06208 5.88308 8.95408 5.79708C10.8174 5.69675 12.5231 5.65375 14.0997 5.65375L16.3787 5.56775C22.3844 5.56775 26.1254 5.79708 27.6017 6.19842C28.8917 6.55675 29.7231 7.38808 30.0814 8.67808Z"
							fill="#064635"
						/>
					</svg>
					<!-- facebook icon -->
					<svg
						width="33"
						height="32"
						viewBox="0 0 33 32"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M27.8144 4H5.73441C5.20341 4 4.77441 4.429 4.77441 4.96V27.04C4.77441 27.571 5.20341 28 5.73441 28H27.8144C28.3454 28 28.7744 27.571 28.7744 27.04V4.96C28.7744 4.429 28.3454 4 27.8144 4ZM25.0424 11.005H23.1254C21.6224 11.005 21.3314 11.719 21.3314 12.769V15.082H24.9194L24.4514 18.703H21.3314V28H17.5904V18.706H14.4614V15.082H17.5904V12.412C17.5904 9.313 19.4834 7.624 22.2494 7.624C23.5754 7.624 24.7124 7.723 25.0454 7.768V11.005H25.0424Z"
							fill="#064635"
						/>
					</svg>
					<!-- tiktok icon -->
					<svg
						width="33"
						height="32"
						viewBox="0 0 33 32"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M25.9325 9.62963C24.743 9.3665 23.6669 8.73109 22.8587 7.81457C22.0505 6.89806 21.5517 5.74755 21.4339 4.52815V4H17.317V20.4087C17.3179 21.1368 17.0909 21.8467 16.6684 22.4379C16.2459 23.029 15.6492 23.4714 14.9628 23.7025C14.2764 23.9335 13.5351 23.9414 12.844 23.7252C12.1529 23.5089 11.5469 23.0793 11.112 22.4974C10.7223 21.9822 10.4837 21.3677 10.4231 20.7232C10.3626 20.0788 10.4824 19.4302 10.7692 18.8507C11.056 18.2712 11.4983 17.784 12.046 17.4442C12.5937 17.1044 13.2249 16.9255 13.8684 16.9277C14.2243 16.9257 14.5784 16.9783 14.9185 17.0838V12.8826C14.5228 12.8333 14.1239 12.8132 13.7253 12.8226C12.2567 12.862 10.8314 13.3314 9.62405 14.1733C8.41664 15.0151 7.47949 16.1929 6.92734 17.5623C6.37519 18.9317 6.23202 20.4334 6.51535 21.8834C6.79868 23.3335 7.49622 24.6689 8.52255 25.7263C9.57441 26.802 10.9204 27.539 12.3896 27.8435C13.8588 28.1479 15.3848 28.0062 16.7737 27.4363C18.1626 26.8664 19.3517 25.894 20.19 24.6427C21.0283 23.3914 21.4778 21.9177 21.4816 20.4087V12.0063C23.142 13.1994 25.133 13.8376 27.1735 13.8308V9.74966C26.7727 9.75133 26.3728 9.7111 25.9803 9.62963H25.9325Z"
							fill="#064635"
						/>
					</svg>
				</div>
			</div>
		</div>
		<div class="lower-footer">
			<div class="centered-content-bot">
				<div class="mid">
					<a href="">Syarat dan Ketentuan</a>
					<a href="">Kebijakan Pribadi</a>
					<a href="">Hubungi Kami</a>
				</div>
				<p>Copyright &copy; KemahAja 2023</p>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'FooterCompo'
}
</script>

<style lang="scss" scoped>
.site-footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: 0px 2px 10px 0px #00000014;

	.centered-content-top {
		display: flex;
		flex-direction: column-reverse;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
		margin: auto;
		padding-block: 20px;
		width: $screensize;
		.address {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 5px;
			text-align: center;
			.lower-address {
				display: flex;
				justify-content: center;
				gap: 15px;
			}
		}
		.social-media {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 4px;
			.icons {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				gap: 5px;
				:nth-child() {
					flex: 1 1 35px;
				}
			}
		}
	}
	.lower-footer {
		display: flex;
		padding-block: 5px;
		align-items: center;
		background-color: $primary;
		color: white;
		.centered-content-bot {
			display: flex;
			align-items: center;
			flex-direction: column;
			margin: auto;
			width: $screensize;
			justify-content: center;
			position: relative;
			.mid {
				display: flex;
				gap: 20px;
				a {
					color: white;
				}
			}
			p {
				color: rgba($color: #fff, $alpha: 0.5);
			}
		}
	}
	@media #{$medium} {
		height: 145px;
		.centered-content-top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 0;
			padding-block: 0;
		}
		.lower-footer {
			height: 35px;
			.centered-content-bot {
				display: flex;
				align-items: center;
				flex-direction: row;
				margin: auto;
				width: $screensize;
				justify-content: center;
				position: relative;
				.mid {
					display: flex;
					gap: 20px;
					a {
						color: white;
					}
				}
				p {
					position: absolute;
					right: 0;
					color: rgba($color: #fff, $alpha: 0.5);
				}
			}
		}
	}
}
</style>
