<template>
	<div class="post-container">
		<div class="container">
			<h2 class="title">{{ title }}</h2>
			<slot></slot>
			<div class="divider"></div>
			<footer v-if="isCopyright">&copy; 2019 Suitmedia</footer>
		</div>
	</div>
</template>

<script>
export default {
	name: 'PostLayout',
	props: ['title', 'isCopyright']
}
</script>

<style lang="scss" scoped></style>
