<template>
	<div class="stars-wrapper">
		<template v-for="item in rating">
			<i class="bzi-star yellow" :key="item"></i>
		</template>
		<template v-for="item in 5 - rating">
			<i class="bzi-star" :key="item"></i>
		</template>
	</div>
</template>

<script>
export default {
	props: {
		rating: {
			type: Number,
			default: 0
		}
	}
}
</script>

<style lang="scss" scoped>
.stars-wrapper {
	display: flex;
	gap: 5px;
	.bzi-star.yellow {
		color: $primaryYellow;
	}
}
</style>
