<template>
	<div>
		<ul
			class="js-tabs"
			:class="isJustified ? 'tabs__bar--justify' : 'tabs__bar'"
		>
			<li
				class="tabs__nav"
				:class="this.tabValue === 1 ? 'is-active' : ''"
				@click="clickEvent(1)"
			>
				TAB 1
			</li>
			<li
				class="tabs__nav"
				:class="this.tabValue === 2 ? 'is-active' : ''"
				@click="clickEvent(2)"
			>
				TAB 2
			</li>
			<li
				class="tabs__nav"
				:class="this.tabValue === 3 ? 'is-active' : ''"
				@click="clickEvent(3)"
			>
				TAB 3
			</li>
			<li
				class="tabs__nav"
				:class="this.tabValue === 4 ? 'is-active' : ''"
				@click="clickEvent(4)"
			>
				TAB 4
			</li>
		</ul>
		<div class="tabs__content">
			<div
				class="tabs__item"
				:class="this.tabValue === 1 ? 'is-active' : ''"
				id="justified1"
			>
				Item 1
			</div>
			<div
				class="tabs__item"
				:class="this.tabValue === 2 ? 'is-active' : ''"
				id="justified2"
			>
				Item 2
			</div>
			<div
				class="tabs__item"
				:class="this.tabValue === 3 ? 'is-active' : ''"
				id="justified3"
			>
				Item 3
			</div>
			<div
				class="tabs__item"
				:class="this.tabValue === 4 ? 'is-active' : ''"
				id="justified4"
			>
				Item 4
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'TabsComponents',
	data() {
		return {
			tabValue: 1
		}
	},
	props: {
		isJustified: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		clickEvent(value) {
			this.tabValue = value
		}
	}
}
</script>

<style lang="scss" scoped>
.tabs__bar {
	display: flex;
	padding: 0;
	cursor: pointer;
	.tabs__nav {
		list-style-type: none;
		padding: 5px 20px;
		border-bottom: 1px solid transparent;
		color: #333;

		&.is-active {
			color: $blue;
			border-bottom: 1px solid $blue;
		}
	}
}
.tabs__content {
	.tabs__item {
		display: none;
		&.is-active {
			display: flex;
		}
	}
}
.tabs__bar--justify {
	display: flex;
	width: 100%;
	padding: 0;
	cursor: pointer;
	.tabs__nav {
		list-style-type: none;
		padding: 5px 20px;
		width: 100%;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid transparent;
		color: #333;

		&.is-active {
			color: $blue;
			border-bottom: 1px solid $blue;
		}
	}
}
.tabs__content {
	.tabs__item {
		display: none;
		&.is-active {
			display: flex;
		}
	}
}
</style>
