<template>
	<div
		class="accordion"
		@click="handleAccordion"
		:class="{ is_active: isActive }"
	>
		<div class="header">
			<p style="font-weight: bold">{{ heading }}</p>
			<i class="bzi-angle-down" style="padding-inline: 5px"></i>
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>
</template>

<script>
export default {
	name: 'AccordionCamping',
	props: {
		heading: {
			type: String,
			default: ''
		},
		content: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			isActive: false
		}
	},
	methods: {
		handleAccordion() {
			this.isActive = !this.isActive
		}
	}
}
</script>

<style lang="scss" scoped>
.accordion {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid lightgrey;
	transition: 1s all ease;
	.header,
	.content {
		padding-block: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.content {
		display: none;
		color: $grey;
	}
	&.is_active {
		.content {
			display: flex;
		}
	}
}
</style>
