<template>
	<div class="camping-chip mr-8" :class="{ isActive: isActiveProps }">
		<i></i>
		View Pegunungan
	</div>
</template>

<script>
export default {
	props: {
		isActiveProps: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss" scoped>
.camping-chip {
	display: flex;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 50px;
	width: fit-content;
	&.isActive {
		background-color: $primary;
		color: white;
		border: 1px solid $primary;
		svg {
			filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(227deg)
				brightness(103%) contrast(102%);
		}
	}
}
</style>
