<template>
	<div class="camping-ground-card-vertical">
		<div class="img-container">
			<nuxt-link to="camping-ground/pew">
				<img v-if="isWehehe" src="~assets/img/tenda1.png" alt="" width="" />
				<img v-else src="~assets/img/poncokusumo.png" alt="" width="" />
			</nuxt-link>
			<div class="love-button circle">
				<svg
					width="22"
					height="22"
					viewBox="0 0 22 22"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M11.0001 17.9537C11.0001 17.9537 2.75 13.687 2.75 8.56695C2.75 3.44689 9.16673 3.02022 11.0001 7.02617C12.8334 3.02022 19.2502 3.44689 19.2502 8.56695C19.2502 13.687 11.0001 17.9537 11.0001 17.9537Z"
						stroke="#DD2127"
						stroke-width="2.06252"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</svg>
			</div>
		</div>
		<nuxt-link to="camping-ground/pew">
			<div class="container">
				<div class="upper-info">
					<div class="flex-title">
						<svg
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M8 8C8.34375 8 8.63812 7.8775 8.88313 7.6325C9.12813 7.3875 9.25042 7.09333 9.25 6.75C9.25 6.40625 9.1275 6.11188 8.8825 5.86687C8.6375 5.62188 8.34333 5.49958 8 5.5C7.65625 5.5 7.36188 5.6225 7.11687 5.8675C6.87188 6.1125 6.74958 6.40667 6.75 6.75C6.75 7.09375 6.8725 7.38812 7.1175 7.63313C7.3625 7.87813 7.65667 8.00042 8 8ZM8 12.5938C9.27083 11.4271 10.2135 10.3671 10.8281 9.41375C11.4427 8.46042 11.75 7.61417 11.75 6.875C11.75 5.73958 11.3879 4.81 10.6637 4.08625C9.93958 3.3625 9.05167 3.00042 8 3C6.94792 3 6.05979 3.36208 5.33562 4.08625C4.61146 4.81042 4.24958 5.74 4.25 6.875C4.25 7.61458 4.55729 8.46104 5.17188 9.41437C5.78646 10.3677 6.72917 11.4275 8 12.5938ZM8 14.0156C7.91667 14.0156 7.83333 14 7.75 13.9688C7.66667 13.9375 7.59375 13.8958 7.53125 13.8438C6.01042 12.5 4.875 11.2525 4.125 10.1013C3.375 8.95 3 7.87458 3 6.875C3 5.3125 3.50271 4.06771 4.50813 3.14062C5.51354 2.21354 6.6775 1.75 8 1.75C9.32292 1.75 10.4871 2.21354 11.4925 3.14062C12.4979 4.06771 13.0004 5.3125 13 6.875C13 7.875 12.625 8.95062 11.875 10.1019C11.125 11.2531 9.98958 12.5004 8.46875 13.8438C8.40625 13.8958 8.33333 13.9375 8.25 13.9688C8.16667 14 8.08333 14.0156 8 14.0156Z"
								fill="#064635"
							/>
						</svg>

						<p v-if="isWehehe" class="text-ellipsis">Heee Hee</p>
						<p v-else class="text-ellipsis">Poncokusumo</p>
					</div>
					<div class="divider"></div>
					<div class="flex-title rating">
						<svg
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_1398_11847)">
								<path
									d="M8.25329 12.7978L7.99963 12.6484L7.74597 12.7978L4.11042 14.938L4.11035 14.9379L4.10003 14.9443C4.02312 14.9921 3.96104 15.0039 3.90094 14.999C3.81437 14.9919 3.75343 14.9664 3.70301 14.928C3.63474 14.8762 3.58259 14.8129 3.54347 14.7324C3.52784 14.7003 3.51548 14.653 3.53652 14.564C3.53654 14.564 3.53655 14.5639 3.53657 14.5638L4.50006 10.5194L4.57137 10.22L4.33622 10.0215L1.1212 7.30704C1.0447 7.23884 1.01898 7.18297 1.00921 7.13861C0.993441 7.06704 0.998021 7.00436 1.02213 6.93892C1.0536 6.85456 1.09465 6.79952 1.14109 6.75981C1.16378 6.74041 1.22219 6.70426 1.3552 6.68411L5.58939 6.32151L5.88743 6.29599L6.00587 6.0213L7.64844 2.21163L7.64844 2.21163L7.64923 2.20977C7.68147 2.13416 7.72178 2.09349 7.77262 2.06516C7.85933 2.01683 7.93304 2 7.99963 2C8.06705 2 8.14048 2.01696 8.22592 2.06476L8.47006 1.62842L8.22592 2.06476C8.27657 2.0931 8.31756 2.13424 8.35059 2.21109L8.35082 2.21163L9.99338 6.0213L10.1118 6.29599L10.4099 6.32151L14.6441 6.68411C14.7771 6.70426 14.8355 6.74041 14.8582 6.75981L15.1831 6.3798L14.8582 6.75981C14.9047 6.7996 14.9458 6.85477 14.9773 6.93942C15.002 7.00576 15.0066 7.06851 14.9909 7.13947C14.9813 7.18311 14.9559 7.23844 14.879 7.30627L11.663 10.0215L11.4279 10.22L11.4992 10.5194L12.4626 14.5635C12.4626 14.5637 12.4627 14.5638 12.4627 14.564C12.4839 14.6538 12.4713 14.7014 12.4558 14.7333C12.4168 14.8135 12.365 14.8761 12.2973 14.9272L12.2962 14.928C12.2458 14.9664 12.1849 14.9919 12.0983 14.999C12.0382 15.0039 11.9761 14.9921 11.8992 14.9443L11.8993 14.9442L11.8888 14.938L8.25329 12.7978Z"
									stroke="#064635"
								/>
							</g>
							<defs>
								<clipPath id="clip0_1398_11847">
									<rect
										width="15"
										height="15"
										fill="white"
										transform="translate(0.5 0.5)"
									/>
								</clipPath>
							</defs>
						</svg>
						<p>4.0</p>
					</div>
				</div>
				<h9 v-if="isWehehe" class="text-ellipsis">Wehehehehe Camping Ground</h9>
				<h9 v-else class="text-ellipsis">SukaCita Camping Ground</h9>
				<div class="lower-info">
					<h8>Rp 100.000</h8>
					<p>Per Malam / Per Kavling</p>
				</div>
			</div>
		</nuxt-link>
	</div>
</template>

<script>
export default {
	props: {
		isWehehe: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss" scoped>
.camping-ground-card-vertical {
	display: flex;
	flex-direction: column;
	overflow: auto;
	// height: 368px;
	// width: 266px;
	height: 350px;
	border-radius: 12px;
	box-shadow: 0px 2px 10px 0px #00000014;
	cursor: pointer;
	.img-container {
		position: relative;
		height: 45%;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
		.love-button {
			display: flex;
			position: absolute;
			top: 0;
			right: 0;
			margin: 6px;
			justify-content: center;
			align-items: center;
			height: 36px;
			aspect-ratio: 1/1;
			background-color: rgba($color: #ffffff, $alpha: 0.4);
			&:hover {
				background-color: rgba($color: #ffffff, $alpha: 0.6);
			}
		}
	}
	.container {
		padding: 15px 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.upper-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 4px;
			.divider {
				height: 100%;
				width: 1.5px;
				background-color: lightgrey;
				margin: 0;
			}
			.flex-title {
				display: flex;
				align-items: center;
				gap: 4px;
				width: 80%;
				p {
					font-size: 18px;
					font-weight: 500;
				}
				&.rating {
					width: fit-content;
					svg {
						margin-bottom: 4px;
					}
				}
			}
		}
		h9 {
			@supports (-webkit-line-clamp: 2) {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: initial;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
		.lower-info {
			display: flex;
			flex-direction: column;
			gap: 4px;
			h8 {
				color: $primaryYellow;
			}
		}
	}
}
</style>
