<template>
	<div class="paket-card">
		<h7>Paket standard</h7>
		<div class="mid">
			<div class="image-container">
				<img class="foto1" src="~assets/img/poncokusumo.png" alt="" width="" />
				<img class="foto2" src="~assets/img/poncokusumo.png" alt="" width="" />
				<img class="foto3" src="~assets/img/poncokusumo.png" alt="" width="" />
			</div>
			<div class="description-box">
				<h10>Paket standard</h10>
				<p>2-3 Orang</p>
				<div class="divider"></div>
				<div class="main-info">
					<div class="left-info">
						<h10>Benefit</h10>
						<div class="text-with-icon">
							<i class="bzi-check"></i>
							<p>Biaya Masuk & Parkir</p>
						</div>
						<div class="text-with-icon">
							<i class="bzi-check"></i>
							<p>Peralatan Camping Dasar</p>
						</div>
						<div class="text-with-icon">
							<i class="bzi-check"></i>
							<p>Akses Fasilitas Umum Perkemahan</p>
						</div>
					</div>
					<div class="mid-info">
						<h10>Syarat dan Ketentuan</h10>
						<div class="text-with-icon">
							<i class="bzi-x-mark"></i>
							<p style="color: grey">Tidak Bisa Refund</p>
						</div>
						<div class="text-with-icon">
							<i class="bzi-x-mark"></i>
							<p style="color: grey">Tidak Bisa Reschedule</p>
						</div>
						<div class="text-with-icon">
							<i class="bzi-check"></i>
							<p>Baca Kebijakan Pembatalan</p>
						</div>
					</div>
					<div class="right-info">
						<h10>Harga permalam</h10>
						<p>Rp 100.000</p>
						<h6>Rp 80.000</h6>
						<p>per paket</p>
						<button class="btn primary btn--large">Pesan Sekarang</button>
					</div>
				</div>
			</div>
		</div>
		<div class="other-info">
			<h10>Include</h10>
			<div class="flex">
				<div class="text-with-icon">
					<IconsTendaIcon />
					<p>Tenda (230 cm x 160 cm)</p>
				</div>
				<div class="text-with-icon">
					<IconsTendaIcon />
					<p>View Pegunungan</p>
				</div>
				<div class="text-with-icon">
					<IconsTendaIcon />
					<p>Sleeping Bag (2)</p>
				</div>
				<div class="text-with-icon">
					<IconsTendaIcon />
					<p>Matras (2)</p>
				</div>
				<div class="text-with-icon">
					<IconsTendaIcon />
					<p>Senter (2)</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.text-with-icon {
	display: flex;
	align-items: center;
	gap: 5px;
	i {
		filter: invert(18%) sepia(97%) saturate(355%) hue-rotate(113deg)
			brightness(99%) contrast(101%);
	}
}
.paket-card {
	padding: 12px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	box-shadow: 0px 2px 10px 0px #00000014;
	border-radius: 12px;

	.mid {
		display: flex;
		gap: 20px;
		width: 100%;
		flex-direction: column;
		.image-container {
			width: 100%;
			img {
				object-fit: cover;
				height: 100%;
			}
			.foto1 {
				border-radius: 8px;
				grid-area: foto1;
			}
			.foto2 {
				border-radius: 8px;
				grid-area: foto2;
			}
			.foto3 {
				border-radius: 8px;
				grid-area: foto3;
			}
			display: grid;
			grid-gap: 10px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas:
				'foto1 foto1 foto2'
				'foto1 foto1 foto3';
		}
		@media #{$medium} {
			flex-direction: row;
			.image-container {
				width: 25%;
				aspect-ratio: 1/1;
				img {
					object-fit: cover;
					height: 100%;
				}
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
				grid-template-areas:
					'foto1 foto1'
					'foto2 foto3';
			}
		}
		.description-box {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 15px;
			.divider {
				margin: 0;
			}
			.main-info {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 15px;
				.left-info {
					display: flex;
					flex-direction: column;
					flex: 1 1 250px;
					gap: 15px;
				}
				.mid-info {
					display: flex;
					flex-direction: column;
					gap: 15px;
					flex: 1 1 250px;
				}
				.right-info {
					display: flex;
					flex-direction: column;
					gap: 15px;
					flex: 1 1 250px;
					text-align: right;
					h6 {
						color: $primaryYellow;
					}
				}
				// @media #{$medium} {
				// 	display: flex;
				// 	justify-content: space-between;
				// }
			}
			@media #{$medium} {
				width: calc(75% - 20px);
			}
		}
	}
	.other-info {
		.flex {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			row-gap: 4px;
		}
	}
}
</style>
