<template>
	<div class="rating-bar-container">
		<i class="bzi-star"></i>
		<p>{{ number }}</p>
		<div class="bar">
			<div class="grey-bar"></div>
			<div class="green-bar" :style="{ width: value + '%' }"></div>
		</div>
		<p style="width: 3ch">{{ value }}</p>
	</div>
</template>

<script>
export default {
	props: {
		number: {
			type: Number,
			default: 0
		},
		value: {
			type: Number,
			default: 0
		}
	}
}
</script>

<style lang="scss" scoped>
.rating-bar-container {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	i {
		color: $primaryYellow;
	}
	.bar {
		height: 12px;
		flex-grow: 1;
		position: relative;
		border-radius: 50px;
		overflow: hidden;
		.grey-bar {
			width: 100%;
			height: 100%;
			background-color: lightgrey;
		}
		.green-bar {
			border-radius: inherit;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background-color: $primary;
		}
	}
}
</style>
