<template>
	<div class="review-card">
		<div class="header">
			<h9 class="grey">5.0</h9>
			<RateStar :rating="5" />
			<p class="grey">Sangat Direkomendasikan</p>
		</div>
		<div class="profile">
			<img class="circle" src="~assets/img/poncokusumo.png" alt="" width="" />
			<div class="info">
				<div class="text-with-icon">
					<i class="bzi-user"></i>
					<p>Suwandi</p>
				</div>
				<div class="text-with-icon">
					<i class="bzi-camping"></i>
					<p>Solo Traveler</p>
				</div>
			</div>
		</div>
		<div class="pilihan-paket">
			<p class="grey">Pilihan Paket:</p>
			<i class="bzi-camping"></i>
			<p>Paket Standard</p>
		</div>
		<p>
			Tempatnya sangat indah dan damai. Berkemah di sini sangat menyenangkan,
			dengan pemandangan alam yang spektakuler dan suasana yang tenang.
		</p>
		<div class="image-container">
			<template v-for="i in 9">
				<img src="~assets/img/poncokusumo.png" alt="" width="" :key="i" />
			</template>
		</div>
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.grey {
	color: $grey;
}
i {
	font-size: 18px;
	color: $primary;
}
.review-card {
	display: flex;
	flex-direction: column;
	gap: 15px;
	border-bottom: 1px solid lightgrey;
	padding: 15px;
	.header {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	.profile {
		display: flex;
		align-items: center;
		gap: 10px;
		img {
			width: 64px;
			aspect-ratio: 1/1;
			object-fit: cover;
			object-position: 50% 50%;
		}
		.info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// height: 64px;
			gap: 5px;
			.text-with-icon {
				display: flex;
				align-items: center;
				gap: 5px;
			}
		}
	}
	.pilihan-paket {
		display: flex;
		gap: 5px;
		align-items: center;
	}
	.image-container {
		display: flex;
		gap: 10px;
		overflow-x: scroll;
		img {
			width: 85px;
			aspect-ratio: 1/1;
			object-fit: cover;
			border-radius: 12px;
		}
	}
}
</style>
