<template>
	<div>
		<div id="app" class="sticky-footer-container">
			<div class="sticky-footer-container-item">
				<Header
					:openNavbar="functionOpenSidebar"
					:isNavbarOpenedProps="isNavbarOpened"
					:isFilterOnProps="isWithFilter"
				/>
			</div>
			<div class="site-main" :class="{ 'with-filter': isWithFilter }">
				<nuxt />
			</div>
			<Footer />
		</div>
	</div>
</template>

<script>
export default {
	name: 'DefaultLayout',
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	},
	data() {
		return {
			isNavbarOpened: false,
			isWithFilter: true
		}
	},
	mounted() {},
	methods: {
		functionOpenSidebar(state) {
			this.isNavbarOpened = state
		}
	}
}
</script>

<style lang="scss" scoped>
.wrapper-content {
	display: flex;
}
</style>
