<template>
	<main class="site-main">
		<PostTemplate title="Buttons">
			<p>
				<button class="btn primary">Button Color</button>
				<button class="btn ghost primary">Button Color</button>
				<button class="btn flat primary">Button Color</button>
			</p>
			<p>
				<button class="btn secondary">Button Color</button>
				<button class="btn ghost secondary">Button Color</button>
				<button class="btn flat secondary">Button Color</button>
			</p>
			<p>
				<button class="btn warning">Button Color</button>
				<button class="btn ghost warning">Button Color</button>
				<button class="btn flat warning">Button Color</button>
			</p>
			<p>
				<button class="btn danger">Button Color</button>
				<button class="btn ghost danger">Button Color</button>
				<button class="btn flat danger">Button Color</button>
			</p>
			<p>
				<button class="btn black">Button Color</button>
				<button class="btn ghost black">Button Color</button>
				<button class="btn flat black">Button Color</button>
			</p>
			<p>
				<button class="btn light-grey">Button Color</button>
				<button class="btn ghost light-grey">Button Color</button>
				<button class="btn flat light-grey">Button Color</button>
			</p>
			<p>
				<button class="btn bz-white">Button Color</button>
				<button class="btn ghost bz-white">Button Color</button>
				<button class="btn flat bz-white">Button Color</button>
			</p>
			<CustomCodeText>
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--ghost-primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--flat-primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--secondary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--ghost-secondary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--flat-secondary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--warning"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--ghost-warning"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--flat-warning"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--danger"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--ghost-danger"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--flat-danger"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--black"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--ghost-black"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--flat-black"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--light-grey"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--ghost-light-grey"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--flat-light-grey"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--white"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--ghost-white"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--flat-white"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Button Sizing">
			<p>
				<button class="btn primary btn--small">Small Color</button>
				<button class="btn ghost primary btn--small">Small Color</button>
				<button class="btn flat primary btn--small">Small Color</button>
			</p>
			<p>
				<button class="btn primary">Normal Color</button>
				<button class="btn ghost primary">Normal Color</button>
				<button class="btn flat primary">Normal Color</button>
			</p>
			<p>
				<button class="btn primary btn--large">Large Color</button>
				<button class="btn ghost primary btn--large">Large Color</button>
				<button class="btn flat primary btn--large">Large Color</button>
			</p>

			<CustomCodeText>
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary
					btn--small"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--ghost-primary
					btn--small"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--flat-primary
					btn--small"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--ghost-primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button
					class="btn--flat-primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary
					btn--large"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--ghost-primary
					btn--large"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--flat-primary
					btn--large"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Icon-only Button">
			<p>
				<button class="btn primary btn--small btn--icon">
					<font-awesome-icon :icon="['fas', 'magnifying-glass']" />
				</button>
				<button class="btn ghost black btn--small btn--icon">
					<font-awesome-icon :icon="['fas', 'xmark']" />
				</button>
				<button class="btn flat light-grey btn--small btn--icon">
					<font-awesome-icon :icon="['fas', 'user']" />
				</button>
			</p>
			<p>
				<button class="btn primary btn--icon">
					<font-awesome-icon :icon="['fas', 'user']" />
				</button>
				<button class="btn ghost black btn--icon">
					<font-awesome-icon :icon="['fas', 'magnifying-glass']" />
				</button>
				<button class="btn flat light-grey btn--icon">
					<font-awesome-icon :icon="['fas', 'xmark']" />
				</button>
			</p>
			<p>
				<button class="btn primary btn--large btn--icon">
					<font-awesome-icon :icon="['fas', 'xmark']" />
				</button>
				<button class="btn ghost black btn--large btn--icon">
					<font-awesome-icon :icon="['fas', 'user']" />
				</button>
				<button class="btn flat light-grey btn--large btn--icon">
					<font-awesome-icon :icon="['fas', 'magnifying-glass']" />
				</button>
			</p>

			<CustomCodeText>
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn primary btn--small
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}&lt;font-awesome-icon :icon="['fas',
					'magnifying-glass']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn ghost black btn--small
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}&lt;font-awesome-icon :icon="['fas',
					'xmark']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn flat light-grey
					btn--small btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}&lt;font-awesome-icon :icon="['fas', 'user']"
					/&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn primary
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}&lt;font-awesome-icon :icon="['fas', 'user']"
					/&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn ghost black
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}&lt;font-awesome-icon :icon="['fas',
					'magnifying-glass']" /&gt;</span
				>

				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn flat light-grey
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}&lt;font-awesome-icon :icon="['fas',
					'xmark']" /&gt;</span
				>

				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn primary btn--large
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}&lt;font-awesome-icon :icon="['fas',
					'xmark']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn ghost black btn--large
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}&lt;font-awesome-icon :icon="['fas', 'user']"
					/&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn flat light-grey
					btn--large btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}&lt;font-awesome-icon :icon="['fas',
					'magnifying-glass']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Icon + Text Button" isCopyright="true">
			<p>
				<button class="btn primary btn--small btn--icon">
					Search <font-awesome-icon :icon="['fas', 'magnifying-glass']" />
				</button>
				<button class="btn ghost black btn--small btn--icon">
					Cancel <font-awesome-icon :icon="['fas', 'xmark']" />
				</button>
				<button class="btn flat light-grey btn--small btn--icon">
					Profile <font-awesome-icon :icon="['fas', 'user']" />
				</button>
			</p>
			<p>
				<button class="btn primary btn--icon">
					Profile <font-awesome-icon :icon="['fas', 'user']" />
				</button>
				<button class="btn ghost black btn--icon">
					Search <font-awesome-icon :icon="['fas', 'magnifying-glass']" />
				</button>
				<button class="btn flat light-grey btn--icon">
					Cancel <font-awesome-icon :icon="['fas', 'xmark']" />
				</button>
			</p>
			<p>
				<button class="btn primary btn--large btn--icon">
					Cancel <font-awesome-icon :icon="['fas', 'xmark']" />
				</button>
				<button class="btn ghost black btn--large btn--icon">
					Profile <font-awesome-icon :icon="['fas', 'user']" />
				</button>
				<button class="btn flat light-grey btn--large btn--icon">
					Search <font-awesome-icon :icon="['fas', 'magnifying-glass']" />
				</button>
			</p>

			<CustomCodeText>
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn primary btn--small
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}Search &lt;font-awesome-icon :icon="['fas',
					'magnifying-glass']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn ghost black btn--small
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}Cancel &lt;font-awesome-icon :icon="['fas',
					'xmark']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn flat light-grey
					btn--small btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}Profile &lt;font-awesome-icon :icon="['fas',
					'user']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn primary
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}Profile &lt;font-awesome-icon :icon="['fas',
					'user']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn ghost black
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}Search &lt;font-awesome-icon :icon="['fas',
					'magnifying-glass']" /&gt;</span
				>

				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn flat light-grey
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}Cancel &lt;font-awesome-icon :icon="['fas',
					'xmark']" /&gt;</span
				>

				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn primary btn--large
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}Cancel &lt;font-awesome-icon :icon="['fas',
					'xmark']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn ghost black btn--large
					btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}Profile &lt;font-awesome-icon :icon="['fas',
					'user']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn flat light-grey
					btn--large btn--icon"&gt;</span
				>
				<br />
				<span class=""
					>{{ getCustomIndent(2) }}Search &lt;font-awesome-icon :icon="['fas',
					'magnifying-glass']" /&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/button&gt;</span>
				<br />
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<!-- end button -->
			</CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
import { generateCustomIndent } from '../plugins/customIndents'

export default {
	name: 'ButtonsPage',
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	methods: {
		getCustomIndent(iterations) {
			return generateCustomIndent(iterations)
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
