<template>
	<main class="site-main">
		<PostTemplate title="Text Color">
			<p class="text-primary">Text class color = ".text-primary"</p>
			<p class="text-secondary">Text class color = ".text-secondary"</p>
			<p class="text-warning">Text class color = ".text-warning"</p>
			<p class="text-danger">Text class color = ".text-danger"</p>
			<p class="text-black">Text class color = ".text-black"</p>
			<p class="text-light-grey">Text class color = ".text-light-grey"</p>
			<p class="text-white">Text class color = ".text-white"</p>
			<CustomCodeText>
				<span class="hljs-name">&lt;p class="text-primary"&gt;</span>
				<span class="">Text class color = ".text-primary"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-secondary"&gt;</span>
				<span class="">Text class color = ".text-secondary"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-warning"&gt;</span>
				<span class="">Text class color = ".text-warning"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-danger"&gt;</span>
				<span class="">Text class color = ".text-danger"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-black"&gt;</span>
				<span class="">Text class color = ".text-black"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-light-grey"&gt;</span>
				<span class="">Text class color = ".text-light-grey"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-white"&gt;</span>
				<span class="">Text class color = ".text-white"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Background Color">
			<p class="bg-primary">Background class color = ".bg-primary"</p>
			<p class="bg-secondary">Background class color = ".bg-secondary"</p>
			<p class="bg-warning">Background class color = ".bg-warning"</p>
			<p class="bg-danger">Background class color = ".bg-danger"</p>
			<p class="bg-black">Background class color = ".bg-black"</p>
			<p class="bg-light-grey">Background class color = ".bg-light-grey"</p>
			<p class="bg-white">Background class color = ".bg-white"</p>
			<CustomCodeText>
				<span class="hljs-name">&lt;p class="bg-primary"&gt;</span>
				<span class="">Background class color = ".text-primary"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="bg-secondary"&gt;</span>
				<span class="">Background class color = ".text-secondary"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="bg-warning"&gt;</span>
				<span class="">Background class color = ".text-warning"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="bg-danger"&gt;</span>
				<span class="">Background class color = ".text-danger"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="bg-black"&gt;</span>
				<span class="">Background class color = ".text-black"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="bg-light-grey"&gt;</span>
				<span class="">Background class color = ".text-light-grey"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="bg-white"&gt;</span>
				<span class="">Background class color = ".text-white"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Black Tones">
			<p class="text-black10">
				Black tone = ".text-black10" ($black10)
				<span>____</span>
			</p>
			<p class="text-black20">
				Black tone = ".text-black20" ($black20)
				<span>____</span>
			</p>
			<p class="text-black30">
				Black tone = ".text-black30" ($black30)
				<span>____</span>
			</p>
			<p class="text-black40">
				Black tone = ".text-black40" ($black40)
				<span>____</span>
			</p>
			<p class="text-black50">
				Black tone = ".text-black50" ($black50)
				<span>____</span>
			</p>
			<p class="text-black60">
				Black tone = ".text-black60" ($black60)
				<span>____</span>
			</p>
			<p class="text-black70">
				Black tone = ".text-black70" ($black70)
				<span>____</span>
			</p>
			<p class="text-black80">
				Black tone = ".text-black80" ($black80)
				<span>____</span>
			</p>
			<p class="text-black90">
				Black tone = ".text-black90" ($black90)
				<span>____</span>
			</p>
			<p class="text-black">
				Black tone = ".text-black" ($black)
				<span>____</span>
			</p>
			<CustomCodeText>
				<span class="hljs-name">&lt;p class="text-black10"&gt;</span>
				<span class="">Black tone = ".text-black10 ($black10)"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-black20"&gt;</span>
				<span class="">Black tone = ".text-black20 ($black20)"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-black30"&gt;</span>
				<span class="">Black tone = ".text-black30 ($black30)"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-black40"&gt;</span>
				<span class="">Black tone = ".text-black40 ($black40)"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-black50"&gt;</span>
				<span class="">Black tone = ".text-black50 ($black50)"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-black60"&gt;</span>
				<span class="">Black tone = ".text-black60 ($black60)"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-black70"&gt;</span>
				<span class="">Black tone = ".text-black70 ($black70)"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-black80"&gt;</span>
				<span class="">Black tone = ".text-black80 ($black80)"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-black90"&gt;</span>
				<span class="">Black tone = ".text-black90 ($black90)"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="text-black"&gt;</span>
				<span class="">Black tone = ".text-black ($black)"</span>
				<span class="hljs-name">&lt;/p&gt;</span>
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Link Color" isCopyright="true">
			<p>
				Link color = <a class="link-primary" href="#">".link-primary"</a> (<a
					href="#"
					>Default link color</a
				>)
			</p>
			<p>
				Link color = <a class="link-secondary" href="#">".link-secondary"</a>
			</p>
			<p>Link color = <a class="link-warning" href="#">".link-warning"</a></p>
			<p>Link color = <a class="link-danger" href="#">".link-danger"</a></p>
			<p>Link color = <a class="link-black" href="#">".link-black"</a></p>
			<p>
				Link color = <a class="link-light-grey" href="#">".link-light-grey"</a>
			</p>
			<p>Link color = <a class="link-white" href="#">".link-white"</a></p>
			<CustomCodeText>
				<span class="hljs-name">&lt;p&gt;</span>
				<span class="">Link Color = </span>
				<span class="hljs-name">&lt;a class="link-primary"&gt;</span
				><span class="">.link-primary</span>
				<span class="hljs-name">&lt;/a&gt;</span>
				<span class="hljs-name">(&lt;a href="#"&gt;</span>
				<span class="">Default link color</span>
				<span class="hljs-name">&lt;/a&gt;)</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p&gt;</span>
				<span class="">Link Color = </span>
				<span class="hljs-name">&lt;a class="link-secondary"&gt;</span
				><span class="">.link-secondary</span>
				<span class="hljs-name">&lt;/a&gt;</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p&gt;</span>
				<span class="">Link Color = </span>
				<span class="hljs-name">&lt;a class="link-warning"&gt;</span
				><span class="">.link-warning</span>
				<span class="hljs-name">&lt;/a&gt;</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p&gt;</span>
				<span class="">Link Color = </span>
				<span class="hljs-name">&lt;a class="link-danger"&gt;</span
				><span class="">.link-danger</span>
				<span class="hljs-name">&lt;/a&gt;</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p&gt;</span>
				<span class="">Link Color = </span>
				<span class="hljs-name">&lt;a class="link-black"&gt;</span
				><span class="">.link-black</span>
				<span class="hljs-name">&lt;/a&gt;</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p&gt;</span>
				<span class="">Link Color = </span>
				<span class="hljs-name">&lt;a class="link-light-grey"&gt;</span
				><span class="">.link-light-grey</span>
				<span class="hljs-name">&lt;/a&gt;</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p&gt;</span>
				<span class="">Link Color = </span>
				<span class="hljs-name">&lt;a class="link-white"&gt;</span
				><span class="">.link-white</span>
				<span class="hljs-name">&lt;/a&gt;</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
			</CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
export default {
	name: 'ColorsPage',
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
