<template>
	<main class="site-main">
		<PostTemplate title="Default Grid">
			<div class="bzg-wrapper">
				<div class="bzg">
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
				</div>
				<div class="bzg">
					<div class="bzg_c" data-col="m4">
						<div class="text-center bg-primary text-white">bzg_c m4</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div class="text-center bg-primary text-white">bzg_c m4</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div class="text-center bg-primary text-white">bzg_c m4</div>
					</div>
				</div>
			</div>
			<CustomCodeText>
				<!-- button start -->
				<!-- beloman ngob -->
				<!-- <span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br /> -->
				<!-- end button -->
				belom ngap
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="No Gutter Grid">
			<div class="bzg-wrapper">
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m4">
						<div class="text-center bg-primary text-white">bzg_c m4</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div class="text-center bg-primary text-white">bzg_c m4</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div class="text-center bg-primary text-white">bzg_c m4</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m6">
						<div class="text-center bg-primary text-white">bzg_c m6</div>
					</div>
					<div class="bzg_c" data-col="m6">
						<div class="text-center bg-primary text-white">bzg_c m6</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m7">
						<div class="text-center bg-primary text-white">bzg_c m7</div>
					</div>
					<div class="bzg_c" data-col="m5">
						<div class="text-center bg-primary text-white">bzg_c m5</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m12">
						<div class="text-center bg-primary text-white">bzg_c m12</div>
					</div>
				</div>
			</div>
			<CustomCodeText>
				<!-- button start -->
				<!-- beloman ngob -->
				<!-- <span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br /> -->
				<!-- end button -->
				belom ngap
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Grid With Offset">
			<div class="bzg-wrapper">
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m5" data-offset="m5">
						<div class="text-center bg-primary text-white">
							bzg_c m5 offset=m5
						</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m3" data-offset="m3">
						<div class="text-center bg-primary text-white">
							bzg_c m3 offset=m3
						</div>
					</div>
					<div class="bzg_c" data-col="m3" data-offset="m3">
						<div class="text-center bg-primary text-white">
							bzg_c m3 offset=m3
						</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m6" data-offset="m3">
						<div class="text-center bg-primary text-white">
							bzg_c m6 offset=m3
						</div>
					</div>
				</div>
			</div>
			<CustomCodeText>
				<!-- button start -->
				<!-- beloman ngob -->
				<!-- <span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br /> -->
				<!-- end button -->
				belom ngap
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Responsive Grid" isCopyright="true">
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="s12,m9,l6">
					<div class="text-center bg-primary text-white">bzg_c s12,m9,l6</div>
				</div>
				<div class="bzg_c" data-col="s6,m3,l6">
					<div class="text-center bg-primary text-white">bzg_c s6,m3,l6</div>
				</div>
			</div>

			<CustomCodeText>
				<!-- button start -->
				<!-- beloman ngob -->
				<!-- <span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br /> -->
				<!-- end button -->
				belom ngap
			</CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
import { generateCustomIndent } from '../plugins/customIndents'

export default {
	name: 'GridPage',
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	methods: {
		getCustomIndent(iterations) {
			return generateCustomIndent(iterations)
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
