<template>
	<div>
		<section class="banner">
			<h4>Siap Untuk Camping?</h4>
			<p>
				Mari nikmati petualangan seru di tengah alam terbuka dan rasa kedamaian
				yang sulit ditemukan di kota.
			</p>
		</section>
		<section class="main-index">
			<h7>Camping Ground Terpopuler</h7>

			<div v-if="currentPage == 1" class="flex">
				<div v-for="item in 8" :key="item">
					<CampingGroundCardVertical />
				</div>
			</div>

			<div v-else class="flex">
				<div v-for="item in 8" :key="item">
					<CampingGroundCardVertical :isWehehe="true" />
				</div>
			</div>
			<Pagination
				:maxVisibleButtons="2"
				:totalPages="2"
				:total="2"
				:perPage="2"
				:currentPage="currentPage"
				@pagechanged="handlePageChange"
			/>
		</section>
	</div>
</template>

<script>
export default {
	name: 'IndexNuxt',
	data() {
		return {
			currentPage: 1
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	methods: {
		handlePageChange(data) {
			console.log(data)
			this.currentPage = data
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 20vh;
	@media #{$medium} {
		height: 30vh;
	}
}
.main-index {
	.flex {
		justify-content: space-between;
		gap: 12px;
		flex-wrap: wrap;
		> * {
			flex: 1 1 266px;
		}
	}
}
</style>
