<template>
	<main class="site-main">
		<PostTemplate title="Tabs">
			<TabsComponent />
			<CustomCodeText>
				<!-- button start -->
				<!-- beloman ngob -->
				<!-- <span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br /> -->
				<!-- end button -->
				belom ngap
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Justified Tabs">
			<TabsComponent isJustified />
			<CustomCodeText> belom ngap </CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
import { generateCustomIndent } from '../plugins/customIndents'

export default {
	name: 'FormPage',
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	methods: {
		getCustomIndent(iterations) {
			return generateCustomIndent(iterations)
		}
	},
	mounted() {
		const tabs = document.querySelectorAll('.js-tabs-link')
		const tabItems = document.querySelectorAll('.js-tabs-item')

		tabs.forEach(tabsLink => {
			tabsLink.addEventListener('click', () => {
				const targetId = tabsLink.getAttribute('data-control')
				const item = document.querySelector(targetId)

				tabs.forEach(tab => {
					tab.classList.remove('is-active')
				})
				tabItems.forEach(items => {
					items.classList.remove('is-active')
				})

				tabsLink.classList.add('is-active')
				item.classList.add('is-active')

				// harusnya:
				// lebih mudah pakai
			})
		})
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.tabs__bar {
	display: flex;
	padding: 0;
	.tabs__nav {
		list-style-type: none;
		padding: 5px 20px;
		border-bottom: 1px solid transparent;
		color: #333;

		&.is-active {
			color: $blue;
			border-bottom: 1px solid $blue;
		}
	}
}
.tabs__content {
	.tabs__item {
		display: none;
		&.is-active {
			display: flex;
		}
	}
}
.tabs__bar--justify {
	display: flex;
	padding: 0;
	.tabs__nav {
		list-style-type: none;
		padding: 5px 20px;
		border-bottom: 1px solid transparent;
		color: #333;

		&.is-active {
			color: $blue;
			border-bottom: 1px solid $blue;
		}
	}
}
.tabs__content {
	.tabs__item {
		display: none;
		&.is-active {
			display: flex;
		}
	}
}
</style>
